<div class="row p-b-25 text-uppercase">
    <span> <strong> Agreement utility </strong> </span>
</div>

<div class="row">
    <div class="col-md-12 document-row">
        <div class="col-md-2">
            Utility ID
        </div>
        <div class="col-md-3">
            Utility Name
        </div>
        <div class="col-md-2">
            Payable by
        </div>
        <div class="col-md-2">
            Amount Type
        </div>
        <div class="col-md-2">
            Amount
        </div>
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>

@Html.Partial("_AgreementUtilityDetails")

<div class="row">
    <div class="col-md-1 w-md-10 pull-right">
        <button class="document-btn">Delete</button>
    </div>
    <div class="col-md-1 w-md-10 pull-right">
        <button class="document-btn">Add</button>
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>
