@*@model LeaMaPortal.Models.AgreementUtilityViewModel*@
@model LeaMaPortal.Models.AgreementFormViewModel

<div class="row">
    <div class="col-md-12 document-row">
        <div class="col-md-2">
            <select class="form-control master-form-input">
                <option> Jan </option>
                <option> Feb </option>
                <option> March </option>
            </select>
        </div>
        <div class="col-md-3">
            <select class="form-control master-form-input">
                <option> Jan </option>
                <option> Feb </option>
                <option> March </option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control master-form-input">
                <option> Cash </option>
                <option> Cheque </option>
                <option> Card </option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control master-form-input">
                <option> Cash </option>
                <option> Cheque </option>
                <option> Card </option>
            </select>
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "master-form-input" } })
        </div>
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>
