<div class="row">
    <div class="col-md-12 document-row">
        <div class="col-md-1 col-md-1 w-md-13">
            <select class="form-control master-form-input">
                <option> Jan </option>
                <option> Feb </option>
                <option> March </option>
            </select>
        </div>
        <div class="col-md-1 w-md-14">
            <input type="text" class="master-form-input form-control" />
        </div>
        <div class="col-md-1 w-md-16">
            <select class="form-control master-form-input">
                <option> Cash </option>
                <option> Cheque </option>
                <option> Card </option>
            </select>
        </div>
        <div class="col-md-1 w-md-15">
            <input type="text" class="master-form-input form-control" />
        </div>
        <div class="col-md-1 w-md-14">
            <input type="text" class="master-form-input form-control" />
        </div>
        <div class="col-md-1 w-md-14">
            <input type="text" class="master-form-input form-control" />
        </div>
        <div class="col-md-1 w-md-14">
            <input type="text" class="master-form-input form-control" />
        </div>
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>
