<div class="row p-b-25 text-uppercase">
    <span> <strong> Agreement PDC </strong> </span>
</div>

<div class="row">
    <div class="col-md-12 document-row">
        <div class="col-md-1 w-md-13">
            Month
        </div>
        <div class="col-md-1 w-md-14">
            Year
        </div>
        <div class="col-md-1 w-md-16">
            Payment Mode
        </div>
        <div class="col-md-1 w-md-15">
            Bank Name
        </div>
        <div class="col-md-1 w-md-14">
            Cheque No
        </div>
        <div class="col-md-1 w-md-14">
            Cheque Date
        </div>
        <div class="col-md-1 w-md-14">
            Amount
        </div>
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>

@Html.Partial("_AgreementPdcDetails")

<div class="row">
    <div class="col-md-1 w-md-10 pull-right">
        <button class="document-btn">Delete</button>
    </div>
    <div class="col-md-1 w-md-10 pull-right">
        <button class="document-btn">Add</button>
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>
