<div class="row">
    <div class="col-md-12 document-row">
        <div class="col-md-2">
            <select class="form-control master-form-input">
                <option> 1 </option>
                <option> 2 </option>
                <option> 3 </option>
            </select>
        </div>
        <div class="col-md-4">
            <select class="form-control master-form-input">
                <option> Name 1 </option>
                <option> Name 2 </option>
                <option> Name 3 </option>
            </select>
        </div>
        <div class="col-md-2">
            <input type="text" class="master-form-input form-control" />
        </div>
        
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>
