<div class="row p-b-25 text-uppercase">
    <span> <strong> Agreement unit inner - only for multiple units </strong> </span>
</div>

<div class="row">
    <div class="col-md-12 document-row">
        <div class="col-md-2">
            Property ID
        </div>
        <div class="col-md-3">
            Property Tawtheeq ID
        </div>
        <div class="col-md-2">
            Property Name
        </div>
        <div class="col-md-2">
            Unit Tawtheeq ID
        </div>
        <div class="col-md-2">
            Unit Name
        </div>        
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>

@Html.Partial("_AgreementUnitDetails")

<div class="row">
    <div class="col-md-1 w-md-10 pull-right">
        <button class="document-btn">Delete</button>
    </div>
    <div class="col-md-1 w-md-10 pull-right">
        <button class="document-btn">Add</button>
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>
