<!--
  File Name      : PropertyProfiling.cshtml
  Description    : Property profiling page
  Created Date   : 24-Mar-2017
  Notes          : <Notes>
-->


@{
    ViewBag.Title = "Property Profiling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #menu-home-tca {
        background-color: #eb9a15;
    }
</style>

<div class="inner-block p-t-5-p">
    <input type="hidden" value="@ViewBag.IsAdd" id="IsAllowAdd" />
    <div class="blank" id="">
        @using (Html.BeginForm("AddOrUpdate", "Tca", FormMethod.Post, new { @id = "Tca", @enctype = "multipart/form-data" }))
        {
            <div id="AgreementForm">
            </div>
            <div>
                <!-- BEGIN AGREEMENT UNIT -->
                <div class="p-lr-20 font-smaller" id="AgreementUnit">
                    @*@Html.Partial("_AgreementUnit")*@
                </div>
                <!-- END AGREEMENT UNIT -->
                <div class="row ht-5">
                    &nbsp;
                </div>
                <!-- BEGIN AGREEMENT PDC -->
                <div class="p-lr-20 font-smaller" id="AgreementPdc">
                    @*@Html.Partial("_AgreementPdc")*@
                </div>
                <!-- END AGREEMENT Facility -->
                <div class="row ht-5">
                    &nbsp;
                </div>
                <!-- BEGIN AGREEMENT Facility -->
                <div class="p-lr-20 font-smaller" id="AgreementFacility">
                    @*@Html.Partial("_AgreementDocument")*@
                </div>
                <!-- END AGREEMENT Facility -->
                <!-- END AGREEMENT PDC -->
                <div class="row ht-5">
                    &nbsp;
                </div>
               
                <div class="row ht-5">
                    &nbsp;
                </div>
                <!-- BEGIN AGREEMENT UTILITY -->
                <div class="p-lr-20 font-smaller" id="AgreementUtility">
                    @*@Html.Partial("_AgreementUtility")*@
                </div>
                <!-- END AGREEMENT UTILITY -->
                <div class="row ht-5">
                    &nbsp;
                </div>
               
                <!-- BEGIN AGREEMENT UNIT -->
                <div class="p-lr-20 font-smaller" id="AgreementCheckList">
                    @*@Html.Partial("_AgreementCheckList")*@
                </div>
                @*END AGREEMENT UNIT*@
                <!-- BEGIN AGREEMENT DOCUMENT -->
                <div class="p-lr-20 font-smaller" id="AgreementDocument">
                    @*@Html.Partial("_AgreementDocument")*@
                </div>
                <!-- END AGREEMENT DOCUMENT -->
            </div>
            <div class="p-b-10">
                &nbsp;
            </div>
            <div class="col-md-12 form-input-padding" id="formSubmitBtn">
                <div class="col-md-6">
                    &nbsp;
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn master-form-btn" value="Submit" />
                </div>
            </div>
        }
        @*@Html.Partial("Agreement/_AgreementForm")*@

        <!-- Begin Grid view -->
        <div class="row">
            &nbsp;
        </div>
        <div class="row leama-fieldset leama-header-top" style="background-color:white;">
            <div id="agreementList">

            </div>
        </div>
        <div id="renewalModal" class="modal fade" role="dialog">
            <div class="modal-dialog tca-modal-md" id="renewalAddOrUpdateContainer" style="background-color: white;">

            </div>
        </div>
        <div id="renewalModal" class="modal fade" role="dialog">

            <div class="modal-dialog tca-modal-md" id="editAddOrUpdateContainer" style="background-color: white;">

            </div>

        </div>

        <div id="closureModal" class="modal fade" role="dialog">
            @using (Html.BeginForm("Closure", "Tca", FormMethod.Post, new { @id = "Closure", @enctype = "multipart/form-data" }))
            {
                <div class="modal-dialog tca-modal-md" id="closureContainer" style="background-color: white;">


                </div>
            }
        </div>
        <div id="statusModal" class="modal fade" role="dialog">
            @using (Html.BeginForm("Status", "Tca", FormMethod.Post, new { @id = "Status", @enctype = "multipart/form-data" }))
            {
                <div class="modal-dialog tca-modal-md" id="StatusContainer" style="background-color: white;">


                </div>
            }
        </div>
        <!-- End Grid view -->
        <!-- Trigger the modal with a button -->
        @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#closureModal">Closure Modal</button>

            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#renewalModal">Renewal Modal</button>

            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#statusModal">Status Modal</button>*@

        <!-- Contract Modal -->
        <div id="contractModal" class="modal fade" role="dialog">

            <div class="modal-dialog tca-modal-md" id="PrintContainer" style="background-color: white;">
                @*@Html.Partial("Contract/_ContractDetails")*@

            </div>
        </div>

    </div>
</div>

<script>
    $("#test-modal").click(function (e) {
        $('#myModal').modal('hide');
    });

</script>
<script type="text/javascript">

    function printData() {
        //alert(1);
        var divToPrint = document.getElementById("PrintelementID");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
    //printData();
    $(document).ready()
    {

        //btnPrint button id
        $('#btnPrint').on('click', function () {
            printData();
        })

    }
</script>



<script>
    $("#TopNavBarFilter").empty();
    //
    var isAllow = $("#IsAllowAdd").val();
    if (isAllow == 1)
        IsAddAllow();
    else
        $("#formSubmitBtn").hide();

    function IsAddAllow() {
        
        CreateAgreement();
        var AgreementNo = 0;//$("#Agreement_No").val();
        AgreementPdcIndex(AgreementNo);
        AgreementFacilityIndex(AgreementNo);
        AgreementDocumentIndex(AgreementNo);
        AgreementUtilityIndex(AgreementNo);
        AgreementUnitIndex(AgreementNo);
        AgreementCheckListIndex(AgreementNo);
    }
    //
    getAgreementList();
    function CreateAgreement() {

        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#AgreementForm").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {


                //var AgreementNo = 0;//$("#Agreement_No").val();
                //AgreementPdc(AgreementNo);
                //AgreementFacility(AgreementNo);
                //AgreementDocument(AgreementNo);
                //AgreementUtility(AgreementNo);
                //AgreementUnit(AgreementNo);
                //AgreementCheckList(AgreementNo);

                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementPdcIndex(AgreementNo) {
         
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementPdc",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            // contentType: "application/json",
            // processData: false,
            success: function (html) {
                $("#AgreementPdc").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementFacilityIndex(AgreementNo) {
         
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementFacility",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#AgreementFacility").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementDocumentIndex(AgreementNo) {
         
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementDocument",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#AgreementDocument").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementUtilityIndex(AgreementNo) {
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementUtility",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#AgreementUtility").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementUnitIndex(AgreementNo) {
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementUnit",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#AgreementUnit").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementCheckListIndex(AgreementNo) {
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementCheckList",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#AgreementCheckList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function getAgreementList() {
        $.ajax(
           {
               url: "../Tca/List",
               type: "Get",
               data: { Search: "", page: 1 },
               success: function (html) {
                   $("#agreementList").html(html);
               },
               error: function (jqXhr, textStatus, errorThrown) {
                   //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                   $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                   $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                   $(".result-title").text("Failure");
                   $(".result-modal-body span").text("Could not able to process your requests");
                   $('#masterResultModal').modal('show');
               },
               complete: function () {
                   //   $("#VerifyIdDetailsLoader").addClass("hide");
               }
           });
    }

</script>

<script>
    $("form#Tca").off("submit").on("submit", function (e) {
        debugger;
        // e.preventDefault();
        try {
            //var SDate = new Date($("#Agreement_Start_Date").val());
            //var EDate = new Date($("#Agreement_End_Date").val());
            //alert(SDate.getFullYear() + "" + SDate.getMonth() + "" + SDate.getDay());
            //var startDt = parseInt(SDate.getFullYear() + "" + SDate.getMonth() + "" + SDate.getDay());
            //var endDt = parseInt(EDate.getFullYear() + "" + EDate.getMonth() + "" + EDate.getDay());
           // alert(SDate + "-----" + EDate)
           // alert(startDt + "   " + endDt);
            var AgreementUtilityCount = parseInt($("#AgreementUtilityListCount").val());
            var nofopayments = parseInt($("#nofopayments").val());
            var AgreementPdcListCount = parseInt($("#AgreementPdcListCount").val());
            //if (endDt <= startDt) {
            //    e.preventDefault();
            //    $("#Agreement_End_Date").focus();
            //    $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
            //    $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
            //    $(".result-title").text("Failure");
            //    $(".result-modal-body span").text("Agreement Start Date less than Agreement End Date");
            //    $('#masterResultModal').modal('show');
                //alert("Agreement Start Date less than Agreement End Date");
            //}
            if(nofopayments!=AgreementPdcListCount)
            {
                e.preventDefault();
                $("#btnAddAgreementPdc").focus();
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Number of payments and Payment details mismatch");
                $('#masterResultModal').modal('show');
                //alert("No of payments and Payment details mismatch");
            }
            else if(AgreementUtilityCount<2)
            {
                e.preventDefault();
                $("#btnAddAgreementPdc").focus();
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Minimum 2 utilities required");
                $('#masterResultModal').modal('show');
                //alert("Minimum 2 utilities required");
            }
            else {
                e.preventDefault();
                var formData = new FormData($(this)[0]);
                try {
                    $.ajax(
                        {
                            url: "../Tca/AddOrUpdate",
                            method: "POST",
                            data: formData,
                            contentType: false,
                            processData: false,
                            cache: false,
                            async: false,
                            success: function (response) {
                                if (response.Errors == null || response.Errors == "") {
                                    $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-error");
                                    $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-success");
                                    $(".result-title").text("Success");
                                    $(".result-modal-body span").text(response.Message);
                                    IsAddAllow();
                                    getAgreementList();
                                }
                                else {
                                    $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                                    $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                                    $(".result-title").text("Failure");
                                    $(".result-modal-body span").text(response.Errors);
                                }
                            },
                            error: function (jqXhr, textStatus, errorThrown) {
                                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                                $(".result-title").text("Failure");
                                $(".result-modal-body span").text(masterResultError);
                            },
                            complete: function () {
                                $("#img-add-or-update-loader").addClass("hide");
                                $('#masterResultModal').modal('show');
                            }
                        });
                }
                catch (ex) {
                    alert(ex);
                }
            }
        }
        catch (ex) {
            alert(ex);
        }

    });


</script>
