/*
  File Name      : custom.css
  Description    : Leama Sytems custom styles
  Created Date   : 12-Mar-2017
  Notes          : <Notes>
*/


/* Theme styles custom css */

.portlet-grid{
    height:180px;
}
.panel-body{
    padding:15px !important;
}
.inner-block{
    min-height: 830px;
}
#menu li a:active{
    background-color: #eb9a15;
}
.left-content {
    width: 91% !important;
}

.fixed{
	position: relative !important;
	 width:100% !important;
}
.sidebar-menu{
    width:155px !important;
}
.user-name p {
    color: #9fa9ba !important;
    font-weight:normal;
}
.user-name span{
    font-family: ProximaNova;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #7f8fa4 !important;
}
.user-name .logName {
    color: #1a91eb !important;
}

/* Bootstrap styles */

input[type="button"]:focus, input[type="button"]:active, button:focus
{
    outline:none !important;
}
.textarea.form-control{
    resize:none !important;
}
ul.dropdown-menu.drp-mnu li:hover{
background-color: #eff3f6;
}

label{
    font-weight:normal !important;
}

.tbl-dahboard .table > tbody > tr > th{
    padding:15px;
}