/*
  File Name      : LeamaStyles.css
  Description    : Leama Sytems styles
  Created Date   : 12-Mar-2017
  Notes          : <Notes>
*/

/* Bootstrap Modal */
.modal-white.modal-backdrop {
  background-color: #ffffff !important;
}

/* Loader */

#master-loader {
    background: url("../Images/loader.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 30%;
    width: 3%;
}
#master-loader-list {
    background: url("../Images/loader.gif") no-repeat scroll center center #FFF;
    width: 98%;
    height: 500px;
    /*position: absolute;*/
}
#master-loader-edit {
    background: url(../Images/loader.gif) no-repeat scroll center center #FFF;
    /* position: absolute; */
    height: 100px;
    width: 90%;
}

/* Common Styles */

.p-t-17{
    padding-top:17px;
}
.p-b-25{
    padding-bottom: 25px;
}
.p-t-25{
    padding-top:25px;
}
.p-t-5-p{
    padding-top:5%;
}
.p-b-18 {
    padding-bottom: 18px;
}
.m-t-5-p{
    margin-top:5%;
}
.m-t-3{
    margin-top:3px;
}
.m-t-15{
    margin-top:15px;
}
.m-t-16{
    margin-top: 16px;
}
.m-t-6{
    margin-top:6px;
}
.m-l-5 {
    margin-left: 5px;
}
.m-l-m-40{
    margin-left: -40px;
}
.m-t-20{
    margin-top:20px;
}
.p-b-10{
    padding-bottom:10px;
}
.p-b-7 {
    padding-bottom: 7px;
}
.p-b-10-p {
    padding-bottom: 10%;
}
.p-b-2-p {
    padding-bottom: 2%;
}
.font-15{
    font-size: 15px;
}
.font-12 {
    font-size: 12px;
}
.full-width{
    width:100% !important;
}
.width-60{
    width:60% !important;
}
.width-35{
    width:35px !important;
}
.ht-5{
    height:5px;
}
.p-35{
    padding: 35px;
}
.p-15{
    padding: 15px !important;
}
.font-smaller{
    font-size: smaller;
}
.font-x-large{
    font-size:x-large;
}
.font-40{
    font-size: 40px !important;
}
.ht-50{
    height:50px !important;
}
.border-btm {
    border-bottom: 1px solid;
}
.color-f5a623{
    color:#f5a623;
}


/* Custom Width */

.w-md-13 {
    width: 13% !important;
}
.w-md-14 {
    width: 14% !important;
}
.w-md-15 {
    width: 15% !important;
}
.w-md-16 {
    width: 16% !important;
}
.w-md-10{
    width:10% !important;
}

/* Modal for success/error result */
.result-modal-body {
    font-size: 20px;
    padding: 25px;
}
.result-modal-success {
    background-color: seagreen;
    color: white;
}
.result-modal-error {
    /*background-color: rgba(139, 0, 0, 0.88);*/
    background-color:rgb(183, 39, 39);
    color: white;
}
.result-title {
    font-weight: bold !important;
}

.print-btn{
    padding: 10px !important;
    cursor: pointer;
}

/* Dashboard */

.logo-thumb{
    padding:21px;
    background-color: #182730;
    color:white;
    margin-bottom: -7px;
}
.report-text{
    color:#ac8fe9;
}
.report-text:hover{
    border-radius: 15px !important;
    padding: 5px;
    /*width: 100% !important;*/
    border: solid 1px #1a91eb; 
    color:white;
}
.dashboard-bg {
    background: #eff3f6;
}
.earning-bg {
    background-color: #554289 !important;
}
.earning-header {
    padding-bottom: 18px;
    font-size: 12px;
    color: white;
}
.earning-money {
    font-size: 30px;
    color: #52ce6f;
    padding-bottom: 18px;
}
.earning-up-icon {
    font-size: 34px;
    background-color: rgba(73, 50, 123, 0.57);
    padding: 6px;
    border-radius: 20px;
    color: #52ce6f;
}
.earning-month {
    color: white;
    font-size: 16px;
}
.vacant-portlet {
    font-size: 12px;
    color: #594286;
    padding-left: 25px;
    padding-top: 7px;
}
.vacant-total {
    font-size: 40px;
    color: #FC8213;
    padding-bottom: 18px;
}
.vacant-not-occupied {
    color: green;
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 15px;
}
.vacant-not-occupied-number {
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    padding: 3px;
}
.vacant-lease {
    color: red;
    text-transform: uppercase;
    font-size: 10px;
}
.vacant-lease-number {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px;
}
.vacant-second-tab {
    margin-top: 4px;
    padding-right: 20px;
}
.vacant-residential-div {
    background-color: #e8f5ff;
    height: 85px;
    /* padding-top: 8px; */
}
.vacant-residential-number {
    font-size: 30px;
    margin-top: 7px;
}
.vacant-residential-text {
    font-size: 8px;
    background-color: #0474c8;
    padding: 3px;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    /* width: 50%; */
}
.vacant-commercial-div {
    background-color: #fff3fd;
    height: 85px;
    /* padding-top: 8px; */
}
.vacant-commercial-text {
    font-size: 8px;
    background-color: #b24a9a;
    padding: 3px;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    /* width: 50%; */
}
.total-loss-div {
    font-size: 12px;
    color: #594286;
    text-transform: uppercase;
    font-weight: bold;
}
.total-loss-down-arrow {
    border-radius: 3px;
    background-color: #d35847;
    color: white;
    padding: 5px;
}
.total-loss-number {
    font-size: 25px;
    color: #d35847;
}
.total-loss-resid-div{
    background-color: #f9f9f9;
    height: 110px;
    margin-top: 10px;
    width: 44% !important;
    margin-left: 9px;
}
.total-loss-res-text{
    background-color: #0474c8;
    font-size: 10px;
    color: white;
    padding: 2px;
    border-radius: 5px;
}
.total-loss-res-amt {
    font-size: 30px;
    color: #2c2e35;
}
.total-loss-comm-div {
    background-color: #f9f9f9;
    height: 110px;
    margin-top: 10px;
    margin-left: 5px;
}
.total-loss-comm-text {
    background-color: #b24a9a;
    font-size: 10px;
    color: white;
    padding: 2px;
    border-radius: 5px;
}
.dues-text {
    font-size: 12px;
    color: #354052;
    padding-bottom: 15px;
    font-weight:bolder;
}
.dues-div {
    padding-top: 20px;
    font-size: 30px;
    color: #0daeff;
}
.dues-icon {
    color: white;
    background-color: #554289;
    border-radius: 6px;
}
.expense-div {
    padding-top: 20px;
    font-size: 30px;
    color: #2c2e35;
}
.notif-portlet {
    width: 98% !important;
    height: 100px !important;
}
.imp-notif-text {
    font-size: 16px;
    color: #432f76;
    font-weight: bold;
    margin-top: 9px;
}
.notif-sub-text {
    width: 207px;
    height: 40px;
    border-radius: 50px;
    border: solid 1px #554289;
    background: transparent;
}
.notif-total {
    font-size: 10px;
    background-color: #e61d1d;
    border-radius: 10px;
    padding: 3px;
    color: white;
}
.home-common-table {
    width: 98%;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
}
.tbl-dahboard{
    background-color: white;
    border-radius: 5px;
}
    .tbl-dahboard .tbl-head {
        background-color: #554289;
        color: white;
    }


/* Menu */
.menu{
    /*background-color: #000421;*/
    background-image: linear-gradient(349deg, #252428, #111115);
    color: white;
}

/* Sub Header Menu */
.sub-header-main{
    height: 100px; 
    font-size: 12px;
    margin-top: 95px;
    border-bottom: 1px solid black;
}
.subheader-profile{
    padding:6%;
    font-size: 16px;
}
.subheader-select {
    text-transform: uppercase;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
}
.subheader-select option{
    padding:2px;
}

/* Sidebar Menu */
.sidebar-btn {
    border: 1px solid white;
    color: black;
    border-radius: 15px !important;
    padding: 5px;
    /*background-color: #ffb100;*/
    text-decoration: none;
    width: 80% !important;
    margin-left: 20px;
    margin-top: 15px;
}
.sidebar-btn:hover, .sidebar-btn:active{
    border-color:black;
}

/* Master Page */
.master-form-input{
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #c7c6c6;
    width:100%;
}
.form-input-padding{
    padding:20px 25px 10px 15px;
}
.input-checkbox{
    height: 20px;
    width: 20px;
}
.master-form-btn {
    background-color: #554289;
    color: white;
    border-radius: 15px !important;
    width: 200px;
    padding: 10px !important;
}
.report-form-row{
    background-color: rgba(232, 232, 232, 0.73); 
    padding: 15px 0px;
}
.report-checkbox-align{
    margin-left:-10px; 
    margin-top: -5px;
}

/* Master Individual Page */
.document-btn {
    border: 1px solid black;
    color: black;
    border-radius: 15px !important;
    background-color: white;
    padding: 5px;
    width:100% !important;
}
.document-btn:hover{
    background-color:#554289;
    color:white;
}
.document-row{
    padding: 15px 0px 20px 0px;
    background-color: #f3f3f3;
}

/* Agreement Closure */
.p-lr-20{
    padding-left:20px;
    padding-right:20px;
}
.popup-heading{
    font-size:x-large;
    padding-top:5%;
}
.tca-modal-md{
    width: 1100px !important;
    margin-right: 40px !important;
}

.search-btn{
    height:41px !important;
}

/* Notification */
.notification-modal-content{
    margin-top: 11%;
    margin-left: -4%;
    width: 129%;
    background-color: #3a3939 !important;
    box-shadow: 0 16px 17px 0 rgba(0, 0, 0, 0.5) !important;
}

.notification-hr {
    border-color: #797979 !important;
}
.label-default-remove {
    font-weight: normal !important;
}
.notification-tab-1{
    text-align: center;
    font-family: Abel;
}
.notification-text{
    font-size: 25px;
    color: #f5a623;
    text-transform: uppercase;
    padding-top: 15px;
}
.notification-number{
    font-size: 75px;
    color: #f5a623;
    text-transform: uppercase;    
    padding-top: 35px;
}
.notification-down-arrow{
    color:white;
    font-size: 50px;
}
.notification-filter-line{
    border-left: 1px solid white;
}
.notification-filter-div{
    color: #8a93a3;
    font-size: 13px;
    font-family: Abel;
    border-left: 1px solid #797979;    
}
.notification-filter {
    color: white;
    padding: 2px 10px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    cursor:pointer;
}
.notification-filter.active{
    background-color: #52ce6f;
}
.notification-vr-1{
    padding-right: 10px;
    border-right: 1px solid #385d8c;
}
.notification-vr-2{
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #385d8c;
}
.notification-vr-3{
    padding-right: 10px;
    padding-left: 10px;
}
.notification-approve{
    background-color: #f6a623;
    color: white;
    padding: 2px 10px;
    border-radius: 3px;
}
.notification-reject{
    background-color: #d35847;
    color: white;
    padding: 2px 10px;
    border-radius: 3px;
}

/* Pagination */
.pagination-btn {
    background: #554289;
    color: white;
    border: 1px solid;
}