@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #master-loader {
        background: url("../Images/loader.gif") no-repeat scroll center center #FFF;
        position: absolute;
        height: 30%;
        width: 85%;
    }

    #master-loader-list {
        background: url("../Images/loader.gif") no-repeat scroll center center #FFF;
        width: 98%;
        height: 500px;
        /*position: absolute;*/
    }

    #master-loader-edit {
        background: url(../Images/loader.gif) no-repeat scroll center center #FFF;
        /* position: absolute; */
        height: 100px;
        width: 90%;
    }
</style>
<div id="master-loader" class="fa hide">
</div>
<div id="master-loader-edit" class="fa hide">
</div>

<div class="inner-block p-t-5-p">
    <div class="blank">
        <div id="ContainerAddOrUpdate"></div>
        <div class="row" id="ContainerList"></div>
        <input type="hidden" id="IsAllowAdd" value="@ViewBag.IsAdd" />
    </div>
</div>

<script>
    IsAddAllow();
    function IsAddAllow() {
        var isAllow = $("#IsAllowAdd").val();
        if (isAllow == 1)
            $("#ContainerAddOrUpdate").show();
        else
            $("#ContainerAddOrUpdate").hide();
    }
    function GetPayment() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../Payment/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Payment/List",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    $(document).ready(function () {
        $("#TopNavBarFilter").empty();
        GetPayment();
    });
</script>


