@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/theme/js/Chart.min.js"></script>

<div class="inner-block p-t-5-p dashboard-bg">
    <div class="blank">

        <div class="portlet-grid-page">
            <h4 class="p-b-25">OVERALL PERFORMANCE FOR CURRENT MONTH</h4>


            <div class="portlet-grid panel-primary earning-bg" id="earning-div">
                <div class="panel-body">
                    <div class="row earning-header">
                        <div class="col-md-6 font-12">
                            <strong>  EARNING HISTORY </strong>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <div class="col-md-6">
                                    <span class="report-text"> Month </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="report-text"> Year </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="earning-money">
                                <span id="EarningHistory"> 78,380 </span>
                                <span class="per-month">AED</span>
                            </div>
                            <div>
                                <i class="fa fa-chevron-up earning-up-icon"></i>
                                <span class="earning-month" id="EarningHistoryMonth">
                                    JAN <span id="EarningHistoryYear">2017</span>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <canvas id="barChart" height="300" width="470" style="width: 168px; height: 120px;margin-left: -15px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>


            <div class="portlet-grid panel-primary" id="vacant-div">
                <div class="row">
                    <div class="col-md-6 text-center vacant-portlet">
                        <div class="p-b-18">
                            <strong>  VACANT PROPERTIES </strong>
                        </div>
                        <div class="vacant-total" id="VacantCount">
                            26
                        </div>
                        @*<div class="vacant-not-occupied">
                            Not Occupied &gt; <span class="vacant-not-occupied-number">15</span>
                        </div>
                        <div class="vacant-lease">
                            Lease Expired &gt; <span class="vacant-lease-number">18</span>
                        </div>*@
                    </div>
                    <div class="col-md-6 text-center vacant-second-tab">
                        <div class="col-md-12 vacant-residential-div">
                            <div class="vacant-residential-number">
                                <i class="fa fa-home"></i>
                                <span id="VacantCountRes"> 10 </span>
                            </div>
                            <div class="vacant-residential-text">Residential</div>
                        </div>
                        <div class="col-md-12 vacant-commercial-div">
                            <div class="vacant-residential-number">
                                <i class="fa fa-home"></i>
                                <span id="VacantCountCom"> 16 </span>
                            </div>
                            <div class="vacant-commercial-text">Commercial</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="portlet-grid panel-primary" id="total-loss-div">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-7 total-loss-div">
                            Total loss from vacant properties
                        </div>
                        <div class="col-md-5">
                            <i class="fa fa-chevron-down total-loss-down-arrow"></i> <span class="total-loss-number" id="VacantLoss">36,100</span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 total-loss-resid-div">
                            <div class="m-t-16">
                                <span class="total-loss-res-text">RES</span> 10
                            </div>
                            <div class="total-loss-res-amt">
                                <span id="VacantLossRes"> 11,500 </span>
                                <span class="per-month">AED</span>
                            </div>
                        </div>
                        <div class="col-md-6 total-loss-comm-div">
                            <div class="m-t-16">
                                <span class="total-loss-comm-text">COM</span> 16
                            </div>
                            <div class="total-loss-res-amt">
                                <span id="VacantLossCom"> 12,231 </span>
                                <span class="per-month">AED</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Begin Grid View -->

            <div class="portlet-grid" style="width:98%;" id="earning-table">
                <div class="panel-body">
                    @*<div class="col-md-12" style="background-color:white;">*@
                    <div class="divTable leama-fieldset">
                        <div class="divTableBody divFontBodyTable">
                            <div class="divTableHeading">
                                <div class="divTableCell">Tenant ID</div>
                                <div class="divTableCell">Company Name</div>
                                <div class="divTableCell">Tenant Type</div>
                                <div class="divTableCell">Trade License Number</div>
                                <div class="divTableCell">Action</div>

                            </div>

                            <div class="divTableRow">
                                <div class="divTableCell">TenantId</div>
                                <div class="divTableCell">CompanyName</div>
                                <div class="divTableCell">TenantType</div>
                                <div class="divTableCell">TradelicenseNo</div>
                                <div class="divTableCell">
                                    <a class="glyphicon glyphicon-edit tenant-edit" href="/LeaMaPortal/Dashboard/Edit" title="Edit"> </a>  |
                                    <a class="glyphicon glyphicon-trash tenant-delete" href="/LeaMaPortal/Dashboard/Delete" style="color:red" title="Delete"> </a>
                                </div>

                            </div>
                            <div class="divTableRow">
                                <div class="divTableCell">TenantId</div>
                                <div class="divTableCell">CompanyName</div>
                                <div class="divTableCell">TenantType</div>
                                <div class="divTableCell">TradelicenseNo</div>
                                <div class="divTableCell">
                                    <a class="glyphicon glyphicon-edit tenant-edit" href="/LeaMaPortal/Dashboard/Edit" title="Edit"> </a>  |
                                    <a class="glyphicon glyphicon-trash tenant-delete" href="/LeaMaPortal/Dashboard/Delete" style="color:red" title="Delete"> </a>
                                </div>

                            </div>


                        </div>
                    </div>
                    @*</div>*@
                </div>
            </div>

            <div class="portlet-grid" style="width:98%;" id="vacant-table">
                <div class="panel-body">
                    @*<div class="col-md-12" style="background-color:white;">*@
                    <div class="divTable leama-fieldset">
                        <div class="divTableBody divFontBodyTable">
                            <div class="divTableHeading">
                                <div class="divTableCell">Vacant ID</div>
                                <div class="divTableCell">Company Name</div>
                                <div class="divTableCell">Tenant Type</div>
                                <div class="divTableCell">Trade License Number</div>
                                <div class="divTableCell">Action</div>

                            </div>

                            <div class="divTableRow">
                                <div class="divTableCell">TenantId</div>
                                <div class="divTableCell">CompanyName</div>
                                <div class="divTableCell">TenantType</div>
                                <div class="divTableCell">TradelicenseNo</div>
                                <div class="divTableCell">
                                    <a class="glyphicon glyphicon-edit tenant-edit" href="/LeaMaPortal/Dashboard/Edit" title="Edit"> </a>  |
                                    <a class="glyphicon glyphicon-trash tenant-delete" href="/LeaMaPortal/Dashboard/Delete" style="color:red" title="Delete"> </a>
                                </div>

                            </div>
                            <div class="divTableRow">
                                <div class="divTableCell">TenantId</div>
                                <div class="divTableCell">CompanyName</div>
                                <div class="divTableCell">TenantType</div>
                                <div class="divTableCell">TradelicenseNo</div>
                                <div class="divTableCell">
                                    <a class="glyphicon glyphicon-edit tenant-edit" href="/LeaMaPortal/Dashboard/Edit" title="Edit"> </a>  |
                                    <a class="glyphicon glyphicon-trash tenant-delete" href="/LeaMaPortal/Dashboard/Delete" style="color:red" title="Delete"> </a>
                                </div>

                            </div>


                        </div>
                    </div>
                    @*</div>*@
                </div>
            </div>

            <div class="portlet-grid" style="width:98%;" id="loss-table">
                <div class="panel-body">
                    @*<div class="col-md-12" style="background-color:white;">*@
                    <div class="divTable leama-fieldset">
                        <div class="divTableBody divFontBodyTable">
                            <div class="divTableHeading">
                                <div class="divTableCell">Loss ID</div>
                                <div class="divTableCell">Company Name</div>
                                <div class="divTableCell">Tenant Type</div>
                                <div class="divTableCell">Trade License Number</div>
                                <div class="divTableCell">Action</div>

                            </div>

                            <div class="divTableRow">
                                <div class="divTableCell">TenantId</div>
                                <div class="divTableCell">CompanyName</div>
                                <div class="divTableCell">TenantType</div>
                                <div class="divTableCell">TradelicenseNo</div>
                                <div class="divTableCell">
                                    <a class="glyphicon glyphicon-edit tenant-edit" href="/LeaMaPortal/Dashboard/Edit" title="Edit"> </a>  |
                                    <a class="glyphicon glyphicon-trash tenant-delete" href="/LeaMaPortal/Dashboard/Delete" style="color:red" title="Delete"> </a>
                                </div>

                            </div>
                            <div class="divTableRow">
                                <div class="divTableCell">TenantId</div>
                                <div class="divTableCell">CompanyName</div>
                                <div class="divTableCell">TenantType</div>
                                <div class="divTableCell">TradelicenseNo</div>
                                <div class="divTableCell">
                                    <a class="glyphicon glyphicon-edit tenant-edit" href="/LeaMaPortal/Dashboard/Edit" title="Edit"> </a>  |
                                    <a class="glyphicon glyphicon-trash tenant-delete" href="/LeaMaPortal/Dashboard/Delete" style="color:red" title="Delete"> </a>
                                </div>

                            </div>


                        </div>
                    </div>
                    @*</div>*@
                </div>
            </div>

            <!-- End Grid View -->


            <div class="portlet-grid panel-primary">
                <div class="panel-body">
                    <div class="dues-text">UTILITY DUES</div>
                    <div class="text-center dues-div">
                        <i class="fa fa-home dues-icon"></i>
                        @*<span> 64,300 </span>*@
                        <span id="UtilityDue"> 0</span>
                        <span class="per-month">AED</span>
                    </div>
                </div>
            </div>


            <div class="portlet-grid panel-primary">
                <div class="panel-body">
                    <div class="dues-text">RENT DUES</div>
                    <div class="text-center dues-div">
                        <i class="fa fa-money dues-icon"></i>
                        @*<span> 122,541 </span>*@
                        <span id="RentDue"> 0</span>
                        <span class="per-month">AED</span>
                    </div>
                </div>
            </div>


            <div class="portlet-grid panel-primary">
                <div class="panel-body">
                    <div class="dues-text">TOTAL EXPENSE</div>
                    <div class="text-center expense-div">
                        @*<span> 199,751 </span>*@
                        <span id="TotalExpense"> 0</span>
                    </div>
                </div>
            </div>

            <div class="portlet-grid notif-portlet">
                <div class="panel-body m-t-15">
                    <div class="col-md-3 imp-notif-text">
                        IMPORTANT NOTIFICATIONS
                    </div>
                    <div class="col-md-8 font-15">
                        <button data-toggle="modal" data-target="#myModal" class="notif-sub-text">
                            PDC Notification
                            <span class="notif-total" id="PDCNotification">12</span>
                        </button>

                        <button data-toggle="modal" data-target="#myModal" class="notif-sub-text">
                            Renewals
                            <span class="notif-total" id="RenewalsNotification">12</span>
                        </button>

                        <button data-toggle="modal" data-target="#myModal" class="notif-sub-text">
                            Contracts Expiry
                            <span class="notif-total" id="ContractExpiryNotification">12</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var data = {
        labels: ["REVENUE", "LOSS"],
        datasets: [
            {
                fillColor: "#529ace",
                data: [95, 67]
            }
        ]
    }

    var options = {
        animation: true,
        scaleFontColor: "#FFFFFF"
    };

    //Get the context of the canvas element we want to select
    var c = $('#barChart');
    var ct = c.get(0).getContext('2d');
    var ctx = document.getElementById("barChart").getContext("2d");
    /*********************/
    window.homeBarChart = new Chart(ctx).Bar(data, options);
    homeBarChart.datasets[0].bars[0].fillColor = "#529ace"; //bar1
    homeBarChart.datasets[0].bars[1].fillColor = "#d04242"; //bar 2


    $(document).ready(function () {
        $("#earning-table").hide();
        $("#vacant-table").hide();
        $("#loss-table").hide();
        $("#earning-div").click(function () {
            $("#earning-table").toggle();
            $("#vacant-table").hide();
            $("#loss-table").hide();
        });
        $("#vacant-div").click(function () {
            $("#vacant-table").toggle();
            $("#earning-table").hide();
            $("#loss-table").hide();
        });
        $("#total-loss-div").click(function () {
            $("#loss-table").toggle();
            $("#vacant-table").hide();
            $("#earning-table").hide();
        });
        GetDashboardData();
        //GetUtilityDues("Utility Due");
        GetUtilityDues("Utility Due");
        GetRentDues("Renatl due");
        GetTotalExpense("Expenses");
        GetVacantLoss("Vacancy Loss");
        GetVacantCount("Vacancy count");
        GetEarningHistory("Earning History", "N/A");
        GetPDCNotification();
        GetRenewals();
        GetContractExpiry();
    });

    function GetDashboardData() {
        $.ajax(
        {
            url: "../Dashboard/Summary",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {

            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetUtilityDues(param) {
        $.ajax(
        {
            url: "../Dashboard/GetDashboardSummary?category='" + param + "'",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $.each(response, function (index, el) {
                    $("#UtilityDue").text(el.Total_Value);
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetRentDues(param) {
        $.ajax(
        {
            url: "../Dashboard/GetDashboardSummary?category='" + param + "'",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {

                $.each(response, function (index, el) {
                    debugger;
                    $("#RentDue").text(el.Total_Value);
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetTotalExpense(param) {
        $.ajax(
        {
            url: "../Dashboard/GetDashboardSummary?category='" + param + "'",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $.each(response, function (index, el) {
                    debugger;
                    if (el.Month == "N/A")
                        $("#TotalExpense").text(el.Total_Value);
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetVacantLoss(param) {
        $.ajax(
        {
            url: "../Dashboard/GetDashboardSummary?category='" + param + "'",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $.each(response, function (index, el) {
                    debugger;
                    $("#VacantLoss").text(el.Total_Value);
                    $("#VacantLossRes").text(el.Residential);
                    $("#VacantLossCom").text(el.Commercial);

                });
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetVacantCount(param) {
        $.ajax(
        {
            url: "../Dashboard/GetDashboardSummary?category='" + param + "'",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $.each(response, function (index, el) {
                    $("#VacantCount").text(el.Total_Value);
                    $("#VacantCountRes").text(el.Residential);
                    $("#VacantcountCom").text(el.Commercial);
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetEarningHistory(category, month, year) {
        $.ajax(
        {
            url: "../Dashboard/GetDashboardSummary?category='" + category + "'&month='" + month + "'&year='" + year + "'",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $.each(response, function (index, el) {
                    $("#EarningHistory").text(el.Total_Value);
                    $("#EarningHistoryMonth").text(el.Month);
                    $("#EarningHistoryYear").text(el.Year);
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

    function GetPDCNotification() {
        $.ajax(
        {
            url: "Dashboard/GetPDCNotification",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $("#PDCNotification").text(response);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetRenewals() {
        $.ajax(
        {
            url: "Dashboard/GetRenewals",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $("#RenewalsNotification").text(response);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

    function GetContractExpiry() {
        $.ajax(
        {
            url: "Dashboard/GetContractExpiry",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $("#ContractExpiryNotification").text(response);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
</script>