@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .sub-header-main{
        border : none;
    }
</style>
<script src="~/theme/js/Chart.min.js"></script>

<div class="inner-block p-t-5-p dashboard-bg" style="padding-left:2em;">
    <div class="blank dashboard-blank">

        <div class="portlet-grid-page">
            <h4 class="p-b-25">OVERALL PERFORMANCE</h4>


            @*<div class="portlet-grid panel-primary earning-bg" id="earning-div">
                <div class="panel-body">
                    <div class="row earning-header">
                        <div class="col-md-6 font-12">
                            EARNING HISTORY
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <div class="col-md-6">
                                    <span class="report-text"> Month </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="report-text"> Year </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="earning-money">
                                <span id="EarningHistory"> 0 </span>
                                <span class="per-month">AED</span>
                            </div>
                            <div>
                                <img src="~/Images/next_32.png" class="image-rotate-270 earning-profit-loss-arrow" /> <!-- For up arrow, which is profit -->
                                <!-- <img src="~/Images/next_32.png" class="image-rotate-90 earning-profit-loss-arrow" />  --> <!-- For down arrow, which is loss --> 
                                <span class="earning-month" id="EarningHistoryMonth">
                                    JAN <span id="EarningHistoryYear">2017</span>
                                </span>
                            </div>
                        </div>

                        
                        <div class="col-md-5 earning-graph">
                            <div class="graph-revenue-div">
                                <span class="font-9">AED</span>
                                <span class="graph-revenue-color">134,569</span>
                                <span class="graph-revenue"></span>
                                <div class="graph-text-center">
                                    <span>  Revenue </span>
                                </div>
                            </div>
                            <div class="graph-loss-div">
                                <span class="font-9">AED</span>
                                <span class="graph-loss-color">36,100</span>
                                <span class="graph-loss"></span>
                                <div class="graph-text-center">
                                    <span>  Loss </span>
                                </div>
                            </div>
                            <!-- <canvas id="barChart" height="300" width="470" style="width: 168px; height: 120px;margin-left: -15px;"></canvas> -->
                        </div>
                    </div>
                </div>
            </div>*@


            <div class="portlet-grid panel-primary earning-bg" id="earning-div">
                <div class="panel-body">
                    <div class="row earning-header">
                        <div class="col-md-12 font-12 text-center earning-month">
                            <span> EARNING HISTORY </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="earning-money" style="padding-bottom: 10px;">
                                <span id="EarningHistory"> 0 </span>
                                <span class="per-month">AED</span>
                            </div>
                            <div style="display:none">
                                @*<img src="~/Images/next_32.png" class="image-rotate-270 earning-profit-loss-arrow" />*@
                                <span class="earning-month" id="EarningHistoryMonth">
                                    JAN <span id="EarningHistoryYear">2017</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet-grid panel-primary" id="vacant-div">
                <div class="row">
                    <div class="col-md-1">
                        <div class="tile-left-line"> </div>
                    </div>
                    <div class="col-md-4 text-center vacant-portlet">
                        <div class="p-b-18">
                             VACANT PROPERTIES
                        </div>
                        <div class="vacant-total" id="VacantCount">
                            0
                        </div>
                        @*<div class="vacant-not-occupied">
                                Not Occupied &gt; <span class="vacant-not-occupied-number">15</span>
                            </div>
                            <div class="vacant-lease">
                                Lease Expired &gt; <span class="vacant-lease-number">18</span>
                            </div>*@
                    </div>
                    <div class="col-md-7 text-center vacant-second-tab" style="margin-left: -10px;">
                        <div class="col-md-12 vacant-residential-div">
                            <div class="vacant-residential-number">
                                <img src="~/Images/home_32.png" class="m-t-m-10" />
                                <span id="VacantCountRes"> 0</span>
                            </div>
                            <div>
                                <span class="vacant-residential-text"> Residential </span>
                            </div>
                        </div>
                        <div class="col-md-12 vacant-commercial-div">
                            <div class="vacant-residential-number">
                                <img src="~/Images/shop_32.png" class="m-t-m-10" />
                                <span id="VacantCountCom"> 0</span>
                            </div>
                            <div>
                                <span class="vacant-commercial-text">Commercial</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="portlet-grid panel-primary" id="total-loss-div">
                <div class="panel-body">
                    <div class="row" style="margin-top: -15px;
    margin-left: -30px;">

                        <div class="col-md-1">
                            <div class="tile-left-line"> </div>
                        </div>
                        <div class="col-md-11 m-l-m-15 m-t-8">

                            <div class="col-md-7 total-loss-div">
                                Total loss from vacant properties
                            </div>
                            <div class="col-md-5">
                                <i class="fa fa-chevron-down total-loss-down-arrow"></i> <span class="total-loss-number" id="VacantLoss">0</span>
                            </div>

                        </div>
                        <div class="w-md-90">
                            <div class="col-md-6 total-loss-resid-div">
                                <div class="m-t-16">
                                    @*<span class="total-loss-res-text" id="VacantLossRes-count">RES</span> 0*@
                                    <span class="vacant-residential-text">Res</span>

                                    <span  id="VacantLossRes-count">0</span> 

                                </div>
                                <div class="total-loss-res-amt">
                                    <span id="VacantLossRes"> 0</span>
                                    <span class="per-month">AED</span>
                                </div>
                            </div>
                            <div class="col-md-6 total-loss-comm-div">
                                <div class="m-t-16">
                                    @*<span class="total-loss-comm-text" id="VacantLossCom-count">COM</span> 0*@
                                    <span class="vacant-commercial-text">Comm</span>
                                    <span  id="VacantLossCom-count">0</span> 
                                </div>
                                <div class="total-loss-res-amt">
                                    <span id="VacantLossCom"> 0</span>
                                    <span class="per-month">AED</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Begin Grid View -->
            @*<div class="portlet-grid" style="width:98%;" id="earning-table">*@
            <div class="home-common-table" id="earning-table">

              
            </div>

            <div class="home-common-table" id="vacant-table">
               
            </div>

            <div class="home-common-table" id="loss-table">
               
            </div>

            <!-- End Grid View -->


            <div class="portlet-grid panel-primary" id="utility-div">
                <div class="panel-body">
                    <div class="dues-text">UTILITY DUES</div>
                    <div class="text-center dues-div">
                        <i class="fa fa-home dues-icon"></i>
                        @*<span> 64,300 </span>*@
                        <span id="UtilityDue"> 0</span>
                        <span class="per-month">AED</span>
                    </div>
                </div>
            </div>


            <div class="portlet-grid panel-primary" id="rent-div">
                <div class="panel-body">
                    <div class="dues-text">RENT DUES</div>
                    <div class="text-center dues-div">
                        <i class="fa fa-money dues-icon"></i>
                        @*<span> 122,541 </span>*@
                        <span id="RentDue"> 0</span>
                        <span class="per-month">AED</span>
                    </div>
                </div>
            </div>


            <div class="portlet-grid panel-primary" id="expense-div">
                <div class="panel-body">
                    <div class="dues-text">TOTAL EXPENSE</div>
                    <div class="text-center expense-div">
                        @*<span> 199,751 </span>*@
                        <span id="TotalExpense"> 0</span>
                    </div>
                </div>
            </div>

            <!-- Begin Grid View -->

            <div class="home-common-table" id="utility-table">
            </div>

            <div class="home-common-table" id="rent-table">
            </div>

            <div class="home-common-table" id="expense-table">
            </div>

            <!-- End Grid View -->
            <div class="portlet-grid notif-portlet">
                <div class="panel-body m-t-15">
                    <div class="col-md-3 imp-notif-text">
                        IMPORTANT NOTIFICATIONS
                    </div>
                    <div class="col-md-8 font-15">
                        <button id="PDC" data-toggle="modal" data-target="#myModal" class="notif-sub-text">
                            PDC Notification
                            <span class="notif-total" id="PDCNotification">0</span>
                        </button>

                        <button id="RENE" data-toggle="modal" data-target="#myModal" class="notif-sub-text">
                            Renewals
                            <span class="notif-total" id="RenewalsNotification">0</span>
                        </button>

                        <button id="LE" data-toggle="modal" data-target="#myModal" class="notif-sub-text">
                            License Expiry
                            <span class="notif-total" id="LicenseExpiryNotification">0</span>
                            @*<span class="notif-total" id="ContractExpiryNotification">0</span>*@
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $("#LE").click(function () {        
        $("#LicenseExpiry").addClass("notification-filter active");

        $("#Al").removeClass("notification-filter active");
        $("#Al").addClass("notification-filter notify-menu");

        $("#PDCDeposits").removeClass("notification-filter active");
        $("#PDCDeposits").addClass("notification-filter notify-menu");

        $("#Renewal").removeClass("notification-filter active");
        $("#Renewal").addClass("notification-filter notify-menu");

        $("#RentalDue").removeClass("notification-filter active");
        $("#RentalDue").addClass("notification-filter notify-menu");

        $("#UtilityDues").removeClass("notification-filter active");
        $("#UtilityDues").addClass("notification-filter notify-menu");

        $("#TCAapproval").removeClass("notification-filter active");
        $("#TCAapproval").addClass("notification-filter notify-menu");

        $(".notification-filter-content").empty();
        getData("License Expiry");
    })


    $("#RENE").click(function () {
        $("#Renewal").addClass("notification-filter active");

        $("#Al").removeClass("notification-filter active");
        $("#Al").addClass("notification-filter notify-menu");

        $("#PDCDeposits").removeClass("notification-filter active");
        $("#PDCDeposits").addClass("notification-filter notify-menu");

        $("#LicenseExpiry").removeClass("notification-filter active");
        $("#LicenseExpiry").addClass("notification-filter notify-menu");

        $("#RentalDue").removeClass("notification-filter active");
        $("#RentalDue").addClass("notification-filter notify-menu");

        $("#UtilityDues").removeClass("notification-filter active");
        $("#UtilityDues").addClass("notification-filter notify-menu");

        $("#TCAapproval").removeClass("notification-filter active");
        $("#TCAapproval").addClass("notification-filter notify-menu");

        $(".notification-filter-content").empty();
        getData("Renewals");
    })

    $("#PDC").click(function () {
        $("#PDCDeposits").addClass("notification-filter active");

        $("#Al").removeClass("notification-filter active");
        $("#Al").addClass("notification-filter notify-menu");

        $("#Renewal").removeClass("notification-filter active");
        $("#Renewal").addClass("notification-filter notify-menu");

        $("#LicenseExpiry").removeClass("notification-filter active");
        $("#LicenseExpiry").addClass("notification-filter notify-menu");

        $("#RentalDue").removeClass("notification-filter active");
        $("#RentalDue").addClass("notification-filter notify-menu");

        $("#UtilityDues").removeClass("notification-filter active");
        $("#UtilityDues").addClass("notification-filter notify-menu");

        $("#TCAapproval").removeClass("notification-filter active");
        $("#TCAapproval").addClass("notification-filter notify-menu");

        $(".notification-filter-content").empty();
        getData("PDC Deposits");
    })

    $(document).ready(function () {
        $("#earning-table").hide();
        $("#vacant-table").hide();
        $("#loss-table").hide();
        $("#utility-table").hide();
        $("#rent-table").hide();
        $("#expense-table").hide();
        $("#earning-div").click(function () {
            GetEarningDataSet();
            $("#earning-table").toggle();
            $("#vacant-table").hide();
            $("#loss-table").hide();
            $("#utility-table").hide();
            $("#rent-table").hide();
            $("#expense-table").hide();
        });
        $("#vacant-div").click(function () {
            GetVacantDataSet();
            $("#vacant-table").toggle();
            $("#earning-table").hide();
            $("#loss-table").hide();
            $("#utility-table").hide();
            $("#rent-table").hide();
            $("#expense-table").hide();
        });
        $("#total-loss-div").click(function () {
            GetVacantLossDataSet();
            $("#loss-table").toggle();
            $("#vacant-table").hide();
            $("#earning-table").hide();
            $("#utility-table").hide();
            $("#rent-table").hide();
            $("#expense-table").hide();
        });
        $("#utility-div").click(function () {
            GetUtilityDataSet();
            $("#utility-table").toggle();
            $("#vacant-table").hide();
            $("#earning-table").hide();
            $("#loss-table").hide();
            $("#rent-table").hide();
            $("#expense-table").hide();
        });
        $("#rent-div").click(function () {
            GetRentalDataSet();
            $("#rent-table").toggle();
            $("#earning-table").hide();
            $("#loss-table").hide();
            $("#utility-table").hide();
            $("#vacant-table").hide();
            $("#expense-table").hide();
        });
        $("#expense-div").click(function () {
            GetExpensesDataSet();
            $("#expense-table").toggle();
            $("#earning-table").hide();
            $("#loss-table").hide();
            $("#utility-table").hide();
            $("#vacant-table").hide();
            $("#rent-table").hide();
        });


        GetDashboardData();
        //GetUtilityDues("Utility Due");
        //GetUtilityDues("Utility Due");
        //GetRentDues("Renatl due");
        //GetTotalExpense("Expenses");
        //GetVacantLoss("Vacancy Loss");
        //GetVacantCount("Vacancy count");
        //GetEarningHistory("Earning History", "N/A");
        //GetPDCNotification();
        //GetRenewals();
        //GetContractExpiry();
    });

    function GetDashboardData() {
        $.ajax(
        {
            url: "../Dashboard/Summary",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                GetUtilityDues("Utility Due");
                GetRentDues("Rental due");
                GetTotalExpense("Expenses");
                GetVacantLoss("Vacancy Loss");
                GetVacantCount("Vacancy count");
                GetEarningHistory("Earning History", "N/A");
                GetPDCNotification();
                GetRenewals();
                GetContractExpiry();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetUtilityDues(param) {
        $.ajax(
        {
            url: "../Dashboard/GetDashboardSummary?category='" + param + "'",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $.each(response, function (index, el) {
                    $("#UtilityDue").text(el.Total_Value);
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {
                // alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetRentDues(param) {
        $.ajax(
        {
            url: "../Dashboard/GetDashboardSummary?category='" + param + "'",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {

                $.each(response, function (index, el) {
                     
                    $("#RentDue").text(el.Total_Value);
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {
                // alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetTotalExpense(param) {
        $.ajax(
        {
            url: "../Dashboard/GetDashboardSummary?category='" + param + "'",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $.each(response, function (index, el) {
                     
                    if (el.Month == "N/A")
                        $("#TotalExpense").text(el.Total_Value);
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {
                // alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetVacantLoss(param) {
        $.ajax(
        {
            url: "../Dashboard/GetDashboardSummary?category='" + param + "'",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $.each(response, function (index, el) {
                     
                    $("#VacantLoss").text(el.Total_Value);
                    $("#VacantLossRes").text(el.Residential);
                    $("#VacantLossCom").text(el.Commercial);

                });
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetVacantCount(param) {
        $.ajax(
        {
            url: "../Dashboard/GetDashboardSummary?category='" + param + "'",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $.each(response, function (index, el) {
                    $("#VacantCount").text(el.Total_Value);
                    $("#VacantCountRes").text(el.Residential);
                    $("#VacantCountCom").text(el.Commercial);
                    $("#VacantLossRes-count").text(el.Residential);
                    $("#VacantLossCom-count").text(el.Commercial);
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetEarningHistory(category, month, year) {
        $.ajax(
        {
            url: "../Dashboard/GetDashboardSummary?category='" + category + "'&month='" + month + "'&year='" + year + "'",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $.each(response, function (index, el) {
                    $("#EarningHistory").text(el.Total_Value);
                    $("#EarningHistoryMonth").text(el.Month);
                    $("#EarningHistoryYear").text(el.Year);
                });
            },
            error: function (jqXhr, textStatus, errorThrown) {
                // alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

    function GetPDCNotification() {
        $.ajax(
        {
            url: "../Dashboard/GetPDCNotification",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $("#PDCNotification").text(response);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetRenewals() {
        $.ajax(
        {
            url: "../Dashboard/GetRenewals",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $("#RenewalsNotification").text(response);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                // alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

    function GetContractExpiry() {
        $.ajax(
        {
            url: "../Dashboard/GetContractExpiry",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $("#LicenseExpiryNotification").text(response);
                //$("#ContractExpiryNotification").text(response);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetEarningDataSet() {
         
        $.ajax(
        {
            url: "../Dashboard/GetEarningDataSet",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $('#earning-table').empty();
                 
                //var header = "";
                //header += "<div class='panel-body'>";
                //header += "<div class='divTable leama-fieldset'>";
                //header += "<div class='divTableBody divFontBodyTable'>";
                //header += "<div class='divTableHeading'>";
                //header += "<div class='divTableCell'>Receipt No</div>";
                //header += "<div class='divTableCell'>Receipt Date</div>";
                //header += "<div class='divTableCell'>Property Name</div>";
                //header += "<div class='divTableCell'>Unit Name</div>";
                //header += "<div class='divTableCell'>Tenant Name</div>";
                //header += "<div class='divTableCell'>Total Amount</div>";
                //header += "</div>";
                //$('#earning-table').append(header);
                //var html = "";
                //$.each(response, function (index, data) {
                //     

                //    html += "<div class='divTableRow'>";
                //    html += "<div class='divTableCell'>" + response[index].ReceiptNo + "</div>";
                //    html += "<div class='divTableCell'>" + response[index].ReceiptDate + "</div>";
                //    html += "<div class='divTableCell'>" + response[index].Property_Name + "</div>";
                //    html += "<div class='divTableCell'>" + response[index].unit_Name + "</div>";
                //    html += "<div class='divTableCell'>" + response[index].Tenant_Name + "</div>";
                //    html += "<div class='divTableCell'>" + response[index].TotalAmount + "</div></div>";

                //});
                //html += "</div></div></div>";
                //$('#earning-table').append(html);



                var html = "";
                html += "<table class='table table-responsive tbl-dahboard'>";
                html += "<tr class='tbl-head'>";
                html += "<th class='p-15'> Receipt No </th>";
                html += "<th class='p-15'> Receipt Date </th>";
                html += "<th class='p-15'> Property Name </th>";
                html += "<th class='p-15'> Unit Name </th>";
                html += "<th class='p-15'> Tenant Name </th>";
                html += "<th class='p-15'> Total Amount </th>";
                html += "</tr>";
                //$('#earning-table').append(header);
                //var html = "";
                $.each(response, function (index, data) {
                     

                    html += "<tr>";
                    html += "<td class='p-15'>" + response[index].ReceiptNo + "</td>";
                    html += "<td class='p-15'>" + response[index].ReceiptDate + "</td>";
                    html += "<td class='p-15'>" + response[index].Property_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].unit_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].Tenant_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].TotalAmount + "</td></tr>";

                });
                html += "</table>";
                $('#earning-table').append(html);




            },
            error: function (jqXhr, textStatus, errorThrown) {
                // alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetVacantDataSet() {
        $.ajax(
        {
            url: "../Dashboard/GetVacantDataSet",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $('#vacant-table').empty();
                 
                var html = "";
                //header += "<div class='panel-body'>";
                //header += "<div class='divTable leama-fieldset'>";
                //header += "<div class='divTableBody divFontBodyTable'>";
                //header += "<div class='divTableHeading'>";
                //header += "<div class='divTableCell'>Property Name</div>";
                //header += "<div class='divTableCell'>Unit Name</div>";
                //header += "<div class='divTableCell'>Property Usage</div>";
                //header += "<div class='divTableCell'>Region Name</div>";
                //header += "<div class='divTableCell'>Caretaker Name</div>";
                //header += "<div class='divTableCell'>Country</div>";
                //header += "<div class='divTableCell'>Rental Rate Month</div>";
                //header += "<div class='divTableCell'>Vacant Start Date</div>";
                //header += "<div class='divTableCell'>Aging Days</div>";
                //header += "</div>";

                html += "<table class='table table-responsive tbl-dahboard'>";
                html += "<tr class='tbl-head'>";
                html += "<th class='p-15'> Property Name </th>";
                html += "<th class='p-15'> Unit Name </th>";
                html += "<th class='p-15'> Property Usage </th>";
                html += "<th class='p-15'> Region Name </th>";
                html += "<th class='p-15'> Caretaker Name </th>";
                html += "<th class='p-15'> Country </th>";
                html += "<th class='p-15'> Rental Rate Month </th>";
                html += "<th class='p-15'> Vacant Start Date </th>";
                html += "<th class='p-15'> Aging Days </th>";
                html += "</tr>";


                //$('#vacant-table').append(header);
                //var html = "";
                $.each(response, function (index, data) {
                     

                    html += "<tr>";
                    html += "<td class='p-15'>" + response[index].Property_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].unit_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].Property_Usage + "</td>";
                    html += "<td class='p-15'>" + response[index].Region_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].Caretaker_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].Country + "</td>";
                    html += "<td class='p-15'>" + response[index].Rental_Rate_Month + "</td>";
                    html += "<td class='p-15'>" + response[index].Vacant_Start_Date + "</td>";
                    html += "<td class='p-15'>" + response[index].Aging_Days + "</td></tr>";

                });
                html += "</table>";
                $('#vacant-table').append(html);

            },
            error: function (jqXhr, textStatus, errorThrown) {
                // alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetVacantLossDataSet() {
        $.ajax(
        {
            url: "../Dashboard/GetVacantLossDataSet",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $('#loss-table').empty();
                 
                var html = "";
                //header += "<div class='panel-body'>";
                //header += "<div class='divTable leama-fieldset'>";
                //header += "<div class='divTableBody divFontBodyTable'>";
                //header += "<div class='divTableHeading'>";
                //header += "<div class='divTableCell'>Property Name</div>";
                //header += "<div class='divTableCell'>Unit Name</div>";
                //header += "<div class='divTableCell'>Property Usage</div>";
                //header += "<div class='divTableCell'>Region Name</div>";
                //header += "<div class='divTableCell'>Caretaker Name</div>";
                //header += "<div class='divTableCell'>Country</div>";
                //header += "<div class='divTableCell'>Rental Rate Month</div>";
                //header += "<div class='divTableCell'>Vacant Start Date</div>";
                //header += "<div class='divTableCell'>Aging Days</div>";
                //header += "<div class='divTableCell'>Loss Amount</div>";
                //header += "</div>";

                html += "<table class='table table-responsive tbl-dahboard'>";
                html += "<tr class='tbl-head'>";
                html += "<th class='p-15'> Property Name </th>";
                html += "<th class='p-15'> Unit Name </th>";
                html += "<th class='p-15'> Property Usage </th>";
                html += "<th class='p-15'> Region Name </th>";
                html += "<th class='p-15'> Caretaker Name </th>";
                html += "<th class='p-15'> Country </th>";
                html += "<th class='p-15'> Rental Rate Month </th>";
                html += "<th class='p-15'> Vacant Start Date </th>";
                html += "<th class='p-15'> Aging Days </th>";
                html += "<th class='p-15'> Loss Amount </th>";
                html += "</tr>";

                //$('#loss-table').append(header);
                //var html = "";
                $.each(response, function (index, data) {
                     

                    html += "<tr>";
                    html += "<td class='p-15'>" + response[index].Property_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].unit_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].Property_Usage + "</td>";
                    html += "<td class='p-15'>" + response[index].Region_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].Caretaker_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].Country + "</td>";
                    html += "<td class='p-15'>" + response[index].Rental_Rate_Month + "</td>";
                    html += "<td class='p-15'>" + response[index].Vacant_Start_Date + "</td>";
                    html += "<td class='p-15'>" + response[index].Aging_Days + "</td>";
                    html += "<td class='p-15'>" + response[index].Loss_Amt + "</td></tr>";

                });
                html += "</table>";
                $('#loss-table').append(html);

            },
            error: function (jqXhr, textStatus, errorThrown) {
                //  alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

    function GetUtilityDataSet() {
        $.ajax(
        {
            url: "../Dashboard/GetUtilityDataSet",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $('#utility-table').empty();
                 
                var html = "";

                html += "<table class='table table-responsive tbl-dahboard'>";
                html += "<tr class='tbl-head'>";
                html += "<th class='p-15'> Ref No </th>";
                html += "<th class='p-15'> Meter No</th>";
                html += "<th class='p-15'> Bill No </th>";
                html += "<th class='p-15'> Amount</th>";
                html += "<th class='p-15'> Utility Name</th>";
                html += "</tr>";

                //$('#loss-table').append(header);
                //var html = "";
                $.each(response, function (index, data) {
                     

                    html += "<tr>";
                    html += "<td class='p-15'>" + response[index].refno + "</td>";
                    html += "<td class='p-15'>" + response[index].meterno + "</td>";
                    html += "<td class='p-15'>" + response[index].billno + "</td>";
                    html += "<td class='p-15'>" + response[index].amount + "</td>";
                    html += "<td class='p-15'>" + response[index].utility_name + "</td>";
                });
                html += "</table>";
                $('#utility-table').append(html);

            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetRentalDataSet() {
        $.ajax(
        {
            url: "../Dashboard/GetRentalDataSet",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $('#rent-table').empty();
                 
                var html = "";

                html += "<table class='table table-responsive tbl-dahboard'>";
                html += "<tr class='tbl-head'>";
                html += "<th class='p-15'> Agreement No </th>";
                html += "<th class='p-15'> Property Name </th>";
                html += "<th class='p-15'> Unit Name </th>";
                html += "<th class='p-15'> Region Name </th>";
                html += "<th class='p-15'> Caretaker Name </th>";
                html += "<th class='p-15'> Country </th>";
                html += "<th class='p-15'> Payment Mode</th>";
                html += "<th class='p-15'> Total Amount </th>";
                html += "</tr>";

                //$('#loss-table').append(header);
                //var html = "";
                $.each(response, function (index, data) {
                     

                    html += "<tr>";
                    html += "<td class='p-15'>" + response[index].Agreement_No + "</td>";
                    html += "<td class='p-15'>" + response[index].Property_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].unit_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].Region_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].Caretaker_Name + "</td>";
                    html += "<td class='p-15'>" + response[index].Country + "</td>";
                    html += "<td class='p-15'>" + response[index].payment_mode + "</td>";
                    html += "<td class='p-15'>" + response[index].totalamount + "</td>";

                });
                html += "</table>";
                $('#rent-table').append(html);

            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetExpensesDataSet() {
        $.ajax(
        {
            url: "../Dashboard/GetExpensesDataSet",
            type: "Get",
            contentType: "application/json",
            processData: false,
            success: function (response) {
                $('#expense-table').empty();
                 
                var html = "";


                html += "<table class='table table-responsive tbl-dahboard'>";
                html += "<tr class='tbl-head'>";
                html += "<th class='p-15'> Payment No </th>";
                html += "<th class='p-15'> Payment Date </th>";
                html += "<th class='p-15'> Utility Name</th>";
                html += "<th class='p-15'> Supplier Name</th>";
                html += "<th class='p-15'> Payment Type</th>";
                html += "<th class='p-15'> Payment Mode </th>";
                html += "<th class='p-15'> Total Amount</th>";
                html += "</tr>";

                //$('#loss-table').append(header);
                //var html = "";
                $.each(response, function (index, data) {
                     

                    html += "<tr>";
                    html += "<td class='p-15'>" + response[index].PaymentNo + "</td>";
                    html += "<td class='p-15'>" + response[index].PaymentDate + "</td>";
                    html += "<td class='p-15'>" + response[index].Utility_name + "</td>";
                    html += "<td class='p-15'>" + response[index].Supplier_name + "</td>";
                    html += "<td class='p-15'>" + response[index].PaymentType + "</td>";
                    html += "<td class='p-15'>" + response[index].PaymentMode + "</td>";
                    html += "<td class='p-15'>" + response[index].TotalAmount + "</td>";
                });
                html += "</table>";
                $('#expense-table').append(html);

            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

    var data = {
        labels: ["REVENUE", "LOSS"],
        datasets: [
            {
                fillColor: "#529ace",
                data: [95, 67]
            }
        ]
    }

    var options = {
        animation: true,
        scaleFontColor: "#FFFFFF"
    };

    //Get the context of the canvas element we want to select
    var c = $('#barChart');
    var ct = c.get(0).getContext('2d');
    var ctx = document.getElementById("barChart").getContext("2d");
    /*********************/
    window.homeBarChart = new Chart(ctx).Bar(data, options);
    homeBarChart.datasets[0].bars[0].fillColor = "#529ace"; //bar1
    homeBarChart.datasets[0].bars[1].fillColor = "#d04242"; //bar 2

</script>