@model LeaMaPortal.Models.InvoiceViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inner-block p-t-5-p">
    <div class="blank">
        <div id="ContainerAddOrUpdate"></div>
        <div class="row" id="ContainerList"></div>
        @*<input type="hidden" id="FormMasterSelected" value="@ViewBag.FormMasterSelected" />*@
    </div>
</div>
<script>
    //$(function () {
    //    GetInvoice();
    //});
    $(document).ready(function () {
        debugger;
        GetInvoice();
    });
 
    function GetInvoice() {
        debugger;
        $("#img-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../Invoice/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Invoice/List",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    </script>