<!--
  File Name      : _DocumentDetailsRow.cshtml
  Description    : Partial view for document table row
  Created Date   : 18-Mar-2017
  Notes          : <Notes>
-->



<div class="row">
    <div class="col-md-10 document-row" id="GridView">
        <div class="col-md-1">
            1.
        </div>
        <div class="col-md-3">
            <input type="text" class="master-form-input" />
        </div>
        <div class="col-md-4">
            <input type="text" class="master-form-input" />
        </div>
        <div class="col-md-2">
            <button class="document-btn">Add</button>
        </div>
        <div class="col-md-2">
            <button class="document-btn">Delete</button>
        </div>
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>