

<div class="modal-content">
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <div class="text-uppercase popup-heading">
            Agreement for individual
        </div>
        <div class="p-t-5-p"> &nbsp; </div>
        <div class="row">
            <div class="col-md-5">
                Contract ID<br />
                <span style="font-size: x-large;">AH155833B</span>
            </div>
            <div class="col-md-5">
                <span style="font-size: x-large;">MR.Ananth Karthick</span>
            </div>
            <div class="col-md-2">
                <button class="document-btn" style="font-size: large;"> Email </button>
            </div>
        </div>

        <div class="row text-center" style="font-size: x-large;">
            <div> Tenancy Contract (arabic) </div>
            <div> Tenancy Contract </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-6">
                <span> Contract Number </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span> HI-AA-001 </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span> Contract Number (arabic) </span>
            </div>
            <div class="col-md-6">
                <div class="pull-right text-right">
                    <span> Issue Date </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span> dd/mm/yyyy </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span> Issue Date (arabic) </span>
                </div>
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-6">
                A: LANDLORD AND TENANT DETAILS:
            </div>
            <div class="col-md-6">
                <div class="pull-right text-right">
                    :LANDLORD AND TENANT DETAILS :A
                </div>
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Landlord:
            </div>
            <div class="col-md-4 text-center">
                Hameem Investment
            </div>
            <div class="col-md-4 pull-right text-right">
                :Landlord (Arabic)
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Management Address:
            </div>
            <div class="col-md-4 text-center">
                Hameem Investment
            </div>
            <div class="col-md-4 pull-right text-right">
                :Management Address (Arabic)
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Tenant Name:
            </div>
            <div class="col-md-4 text-center">
                XXXXXXXXXX
            </div>
            <div class="col-md-4 pull-right text-right">
                :Tenant Name (Arabic)
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Tenant Address:
            </div>
            <div class="col-md-4 text-center">
                PO Box: XXXXX, XXXXX, XXXXX 
            </div>
            <div class="col-md-4 pull-right text-right">
                :Tenant Address (Arabic)
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Occupied By:
            </div>
            <div class="col-md-4 text-center">
                XXXXXXXXXX
            </div>
            <div class="col-md-4 pull-right text-right">
                :Occupied By (Arabic)
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                B: PROPERTY AND UNIT DETAILS:
            </div>
            <div class="col-md-6">
                <div class="pull-right text-right">
                    :PROPERTY AND UNIT DETAILS :B
                </div>
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Property Details:
            </div>
            <div class="col-md-4 text-center">
                XXXXXXXXXX
            </div>
            <div class="col-md-4 pull-right text-right">
                :Property Details (Arabic)
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Unit Number:
            </div>
            <div class="col-md-4 text-center">
                XXXXXXXXXX
            </div>
            <div class="col-md-4 pull-right text-right">
                :Unit Number (Arabic)
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Unit Description:
            </div>
            <div class="col-md-4 text-center">
                XXXXXXXXXX
            </div>
            <div class="col-md-4 pull-right text-right">
                :Unit Description (Arabic)
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                C: LEASE PERIOD AND PAYMENT DETAILS:
            </div>
            <div class="col-md-6">
                <div class="pull-right text-right">
                    : LEASE PERIOD AND PAYMENT DETAILS: C
                </div>
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Contract Period:
            </div>
            <div class="col-md-4 text-center">
                dd/mm/yyyy to dd/mm/yyyy
            </div>
            <div class="col-md-4 pull-right text-right">
                :Contract Period (Arabic)
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Duration:
            </div>
            <div class="col-md-4 text-center">
                1 Year
            </div>
            <div class="col-md-4 pull-right text-right">
                :Duration (Arabic)
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Amount:
            </div>
            <div class="col-md-4 text-center">
                AED.xxxx/- (AED.xxxxx only)
            </div>
            <div class="col-md-4 pull-right text-right">
                :Amount (Arabic)
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Payment Terms:
            </div>
            <div class="col-md-4 text-center">
                xxxxx <br />
                xxxxx
            </div>
            <div class="col-md-4 pull-right text-right">
                :Payment Terms (Arabic)
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Security Deposit:
            </div>
            <div class="col-md-4 text-center">
                1 Year
            </div>
            <div class="col-md-4 pull-right text-right">
                :Security Deposit (Arabic)
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Account Details:
            </div>
            <div class="col-md-4 text-center">
                Hameem Investment
            </div>
            <div class="col-md-4 pull-right text-right">
                :Account Details (Arabic)
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Bank Deatils:
            </div>
            <div class="col-md-4 text-center">
                xxxx
            </div>
            <div class="col-md-4 pull-right text-right">
                :Bank Deatils (Arabic)
            </div>
        </div>

        <div class="row p-b-2-p">
            <div class="col-md-4">
                Account Number:
            </div>
            <div class="col-md-4 text-center">
                xxxxxx
            </div>
            <div class="col-md-4 pull-right text-right">
                :Account Number (Arabic)
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                D: ADDITIONAL TERMS:
            </div>
            <div class="col-md-6">
                <div class="pull-right text-right">
                    : ADDITIONAL TERMS: D
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                The terms and conditions attached to this Tenancy Contract are an integral part of this contract
            </div>
            <div class="col-md-6">
                <div class="pull-right text-right">
                    The terms and conditions attached to this Tenancy Contract are an integral part of this contract
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-1"> &nbsp; </div>
            <div class="col-md-4">
                <div style="border-bottom:2px solid;"></div>
                <div class="col-md-5"> Landlord </div>
                <div class="col-md-1"> &nbsp; </div>
                <div class="col-md-5 pull-right text-right"> Landlord </div>
            </div>
            <div class="col-md-2"> &nbsp; </div>
            <div class="col-md-4">
                <div class="">
                    <div style="border-bottom:2px solid;"></div>
                    <div class="col-md-5"> Landlord </div>
                    <div class="col-md-1"> &nbsp; </div>
                    <div class="col-md-5 pull-right text-right"> Landlord </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <input type="submit" class="btn master-form-btn" value="Print">
        </div>

    </div>
</div>
