
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<div class="modal-content">
    <div class="modal-body" style="padding:5%; font-size:larger;">
        <button type="button" class="close" data-dismiss="modal" style="margin-top: -40px;margin-right: -26px;font-size: xx-large;">×</button>
        <div class="row" style="font-size: x-large;text-transform:uppercase;">
            <div style="float:left;width:50%;">
                Agreement for individual
            </div>
            <div style="float:left;width:50%;">
                <div style="float:right;">
                    <img src="~/Images/Logo-Bitmap.png">
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:3%;">
            <div style="float:left;width:100%;">
                <span> Contract ID </span>
            </div>
        </div>
        <div class="row">
            <div style="float:left;width:16.66666667%">
                <span style="font-size:x-large;">AH155833B</span>
            </div>
            <div style="float:left;width:66.66666667%; text-align:center;">
                <span style="font-size:x-large;">MR.Ananth Karthick</span>
            </div>
            <div style="float:left;width:16.66666667%">
                <button style="font-size:large;border: 1px solid black;
    color: black;
    border-radius: 15px !important;
    background-color: white;
    padding: 5px;
    width: 100% !important;"> Email </button>
            </div>
        </div>

        <div class="row" style="font-size:x-large;color:#973132;font-weight:bold;padding-top:3%;text-align:center;">
            <div> <span lang="ar" style="font-weight:bold">عقد الايجار</span> </div>
            <div> Tenancy Contract </div>
        </div>

        <div class="row" style="padding-top:3%;">
            <div style="float:left;width:50%;">
                <span> <strong> Contract Number </strong> </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="color:#066CBE; font-weight:bold;"> HI-AA-001 </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span lang="ar" style="font-weight:bold"> <strong> رقم التعاقد: </strong> </span>
            </div>
            <div style="float:left;width:50%;">
                <div style="float:right; text-align:right;">
                    <span> <strong> Issue Date </strong> </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color:#066CBE; font-weight:bold;"> dd/mm/yyyy </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span lang="ar" style="font-weight:bold"> <strong> تاريخ الاصدار: </strong> </span>
                </div>
            </div>
        </div>

        <div class="row" style="font-weight: bold;padding-top:3%;">
            <div style="float:left;width:50%;">
                A: LANDLORD AND TENANT DETAILS:
            </div>
            <div style="float:left;width:50%;">
                <div style="float:right; text-align:right;">
                    <span lang="ar" style="font-weight:bold">:تاريخ الاصدار:</span>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Landlord:
            </div>
            <div style="float:left;width:33.33333333%; color:#066CBE; font-weight:bold;text-align:center;">
                Hameem Investment
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold">المالك:</span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Management Address:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                Po Box:60885 Abu Dhabi-UAE
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold"> إدارة العنوان: </span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:41.66666667%">
                <div style="float:right; text-align:right;">
                    Tel: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:#066CBE; font-weight:bold;"> 03 7375 474 </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span lang="ar" style="font-weight:bold"> هاتف:</span>
                </div>
            </div>
            <div style="float:left;width:8.33333333%"> &nbsp; </div>
            <div style="float:left;width:41.66666667%">
                Fax: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:#066CBE; font-weight:bold;"> Test </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                <span lang="ar" style="font-weight:bold"> فاكس:</span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%; text-align:center;">
            <div style="color:#066CBE; font-weight:bold;">
                Mobile No: 050 6633003 or 050 3326562
            </div>
        </div>

        <div class="row" style="padding-top: 3%">
            <div style="float:left;width:33.33333333%;">
                Tenant Name:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                XXXXXXXXXX
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold"> اسم المستأجر:</span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Tenant Address:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                PO Box: XXXXX, XXXXX, XXXXX 
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold"> مستأجر العنوان:</span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:41.66666667%">
                <div style="float:right; text-align:right;">
                    Tel: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:#066CBE; font-weight:bold;"> 03 7375 474 </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <span lang="ar" style="font-weight:bold"> هاتف:</span>
                </div>
            </div>
            <div style="float:left;width:8.33333333%"> &nbsp; </div>
            <div style="float:left;width:41.66666667%">
                Fax: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:#066CBE; font-weight:bold;"> Test </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                <span lang="ar" style="font-weight:bold"> فاكس:</span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Occupied By:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                XXXXXXXXXX
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold"> يحتلها:</span>
            </div>
        </div>

        <div class="row" style="font-weight: bold; padding-top:5%;">
            <div style="float:left;width:50%;">
                B: PROPERTY AND UNIT DETAILS:
            </div>
            <div style="float:left;width:50%;">
                <div style="float:right; text-align:right;">
                    <span lang="ar" style="font-weight:bold"> : الممتلكات ووحدة تفاصيل: </span>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Property Details:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                XXXXXXXXXX
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold"> تفاصيل اوضح: </span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Unit Number:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:center;">
                XXXXXXXXXX
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold"> رقم الوحدة:</span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Unit Description:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:center;">
                XXXXXXXXXX
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold"> وصف الوحدة:</span>
            </div>
        </div>

        <div class="row" style="font-weight: bold;padding-top:5%;">
            <div style="float:left;width:50%;">
                C: LEASE PERIOD AND PAYMENT DETAILS:
            </div>
            <div style="float:left;width:50%;">
                <div style="float:right; text-align:right;">
                    <span lang="ar" style="font-weight:bold"> فترة الإيجار وتفاصيل الدفع</span>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Contract Period:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:center;">
                dd/mm/yyyy to dd/mm/yyyy
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold">مدة العقد</span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Duration:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:center;">
                1 Year
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold">المدة الزمنية</span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Amount:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:center;">
                AED.xxxx/- (AED.xxxxx only)
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold"> كمية</span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Payment Terms:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:center;">
                xxxxx 
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold"> شروط الدفع</span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Security Deposit:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                1 Year
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold"> مبلغ التأمين</span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Account Details:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:center;">
                Hameem Investment
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold"> تفاصيل الحساب</span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Bank Deatils:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                xxxx
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold">التفاصيل المصرفية</span>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:33.33333333%;">
                Account Number:
            </div>
            <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                xxxxxx
            </div>
            <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                <span lang="ar" style="font-weight:bold"> رقم حساب</span>
            </div>
        </div>

        <div class="row" style="font-weight: bold;padding-top: 5%;">
            <div style="float:left;width:50%;">
                D: ADDITIONAL TERMS:
            </div>
            <div style="float:left;width:50%;">
                <div style="float:right; text-align:right;">
                    <span lang="ar" style="font-weight:bold"> شروط إضافية</span>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 3%;">
            <div style="float:left;width:50%;">
                The terms and conditions attached to this Tenancy Contract are an integral part of this contract
            </div>
            <div style="float:left;width:50%;">
                <div style="float:right; text-align:right;">
                    <span lang="ar" style="font-weight:bold">إن الشروط والأحكام المرتبطة بعقد الإيجار هذا جزء لا يتجزأ من هذا العقد.</span>
                </div>
            </div>
        </div>
        
        <div class="row" style="font-weight: bold;padding-top: 10%;">
            <div style="float:left;width:8.33333333%"> &nbsp; </div>
            <div style="float:left;width:33.33333333%;">
                <div style="border-bottom:2px solid;"></div>
                <div style="float:left;width:41.66666667%"> Landlord </div>
                <div style="float:left;width:8.33333333%"> &nbsp; </div>
                <div style="float:left;width:41.66666667%;float:right; text-align:right;"> <span lang="ar" style="font-weight:bold"> المالك</span> </div>
            </div>
            <div style="float:left;width:16.66666667%"> &nbsp; </div>
            <div style="float:left;width:33.33333333%;">
                <div class="">
                    <div style="border-bottom:2px solid;"></div>
                    <div style="float:left;width:41.66666667%"> Tenant </div>
                    <div style="float:left;width:8.33333333%"> &nbsp; </div>
                    <div style="float:left;width:41.66666667%;float:right; text-align:right;"> <span lang="ar" style="font-weight:bold"> مستأجر</span> </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:5%; text-align:center;">
            <input type="submit" style="background-color: #554289;
    color: white;
    border-radius: 15px !important;
    width: 200px;
    padding: 10px !important;" value="Print">
        </div>

    </div>
</div>
