<div class="row">
    <ol>
        <li>
            The landlord shall have the right to assign or transfer any of his rights and/or obligations under this tenancy agreement without
            prior written consent of the tenant.
        </li>
        <li>
            The tenant hereby undertakes to fulfil all the following covenants and obligations:
            <ol style="list-style:lower-alpha;">
                <li>	To pay rates and taxes levied by federal or local government</li>
                <li>	To pay all charges for telecommunications services, water and electricity consumed in the premises</li>
                <li> To keep the premises and all the fixtures and the fittings therein, in a state of good condition and to repair, under the supervision of the landlord and subject to his approval (or pay the landlord the cost of the repair) all damages caused by the tenant or his employee, agents, visitors or clients.</li>
                <li>	To permit the landlord, its agents or employees at all reasonable hours to enter and inspect the premises.</li>
                <li>	To be wholly responsible for and indemnify the landlord against any losses, damages, death or injury caused to any person or property whether directly or indirectly due to any act, omission, or negligence of the tenant or tenants employee, agents, visitors or clients.</li>
                <li>	To insure the person, property and personal effects of the tenant and the tenant’s family and guests and to indemnify the landlord against any and all losses caused by death, injury or damage of the tenant, the tenant’s family, the tenant’s guests and the tenant’s property.</li>
                <li>	To comply with safety and fire and security regulations.</li>
                <li>	Not to sublease the premises or any part of it without written approval from the landlord.</li>
                <li>	Not to carry out any improvements or alternations to the premises without the prior approval of the landlord. Upon the expiration or the termination of the tenancy, improvement or alternation to the premises consented to by landlord shall become the landlord’s property, without any payment or compensation or if the landlord so desires, the tenant will reinstate the premises to its original condition at the tenant’s own cost.</li>
                <li>	Not to keep or store or allow any arms, ammunition, gunpowder, explosives or any hazardous or prohibited products.</li>
                <li>	To comply with and abide by regulations framed by the landlord for the maintenance of the building in a clean, safe and hygienic condition and to avoid nuisance or inconvenience to other tenants and visitors.</li>
                <li>	Not to suspend heavy loads from ceilings, main structure or walls, or subject walls and floors to loads beyond safety limits.</li>
                <li>	Not to remove any fitting or fixture that may cause damage to the property without the prior written approval of the</li>
                <li>	Not to use the premises for any illegal or immoral purposes.</li>
                <li>	Not to store things in the emergency exits or corridors outside the units, that may cause obstruction, nuisance or hazard to  other tenants.</li>
                <li>	Not to affix names of sign boards for commercial leases without obtaining consent from the landlord and the department concerned.</li>
            </ol>
        </li>
        <li>	If the tenant fails to repair any damages caused to the premises by the tenant, the landlord and workmen shall be entitled to enter the premises at reasonable time to repair such damage and the expenses thereof shall be paid by the tenant to the landlord on demand.</li>
        <li>	The landlord reserves the right to increase the rent as per the local laws and regulations.</li>
        <li>	All correspondence between the parties and all notices under        this agreement shall be deemed to be properly served on either party, if personally or sent by registered mail, postage prepaid, to the address of the party shown at the beginning of the agreement.</li>
        <li>	Amendment of this tenancy contract shall not be binding to the parties unless made in written and signed by both the parties.</li>
        <li>	This tenancy contract shall be governed by the law of the Emirate in the United Arab Emirates in which the premises are located.</li>
        <li>
            Termination and vacating the premises:
            <ol style="list-style:lower-alpha;">
                <li>	The tenant shall give the landlord three month’s written notice prior to the expiration date informing the landlord whether or not the tenant intends to renew this tenancy contract. If the tenant gives notice of intention not to renew this tenancy contract, the landlord shall be entitled to show the premises to other prospective tenants during the said notice period.</li>
                <li>	This contract shall not be considered as cancelled unless a clearance certificate of consumable items such as water, electricity, and central gas is obtained from the concerned departments, and submitted to the landlord upon the termination of this contract.</li>
                <li>	The security deposit paid by the tenant shall be refunded to the tenant on expiration/ termination of this contract after deducting any outstanding payments or dues to the landlord/ premises, if the tenant fails to cover these payments or dues.</li>
                <li>
                    The landlord shall be entitled to terminate this contract :
                    <ol>
                        <li>	If the rent or any part thereof is at any time unpaid for twenty one (21) days or more after the same has become due (whether formally or legally demanded or not). </li>
                        <li>	If the tenant at any time fails or neglects to perform and observe any of the aforementioned terms and conditions </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>	The Tenant undertakes not to transfer the subject of Tenancy or obligations under this contract to anyone else. </li>
        <li>	The renewal of tenancy is the discretion of the Land Lord. If the Tenant does not renew the Tenancy on expiry date the tenant will have to pay the rent as demanded. </li>
        <li>	The contract is valid up to the end of the specified period after which is considered null and void. </li>
        <li>	All Subject repairs and adjustments should be notified to the landlord prior and written permission and undertake to return the premises to its previous condition.</li>
        <li>	Any breach of contract will result in immediate termination of the tenancy contract and the tenant leaves no right in any condition of the contract</li>
        <li>	If the tenant leaves without informing the landlord, the landlord has the right to open the premises in his capacity as the legal owner and the tenant has no right of objection or claim in the future.</li>
        <li>
            Administration Fees:
            <ol style="list-style:lower-alpha;">
                <li>	Upon each renewal of tenancy contract the lessee shall pay AED 200/- annual fees for issuance of the tenancy contract.</li>
                <li>	The lessee shall pay a sum of AED 1,000/- for any requested amendments to be made to the contract, subject to the Landlords written approval</li>
                <li>	If the lessee should wish to terminate the contract before the end of the tenancy, the lessee shall pay AED 1,000/- commission and one month’s rent as per the contract.</li>
                <li>	The lessee undertakes to pay a penalty fee of AED 200/- for each returned cheque, if the payment is made within one week from the date on the cheque , if the payment is made after one week from the returned cheque’s date then a penalty fee of AED 500/- will be paid plus a 12% interest p.a will be charged against the delay period</li>
                <li>	If the lessee request to delay payment or installments, a 1% commission will be paid for each calendar month.</li>
                <li>	If the lessee delays the renewal of the tenancy contract a 1% delay penalty shall be paid for each delayed month after the lapse of 21 days from the expiry date of the tenancy contract, as the delay period shall be calculated from the contract expiry date.</li>
                <li>	The lessee shall pay a sum of 150 AED for any post dated cheque as a payment from contract amount. </li>
            </ol>
        </li>
        <li>
            Transfer of Unit
            <ol style="list-style:lower-alpha;">
                <li>
                    Tenant covenants that no transfer affecting tenant, this lease, the store or the business of tenant at the store shall be permitted or effective until Landlords written consent to the transfer is delivered to tenant. Landlord may withhold consent to a proposed transfer on the basis provided in this section or on any reasonable basis. Tenant shall deliver to landlord its written request for consent to such transfer together with copies of the proposed transfer documents and shall provide landlord with full particulars of the proposed transfer and the business and financial responsibility and standing of the proposed transferee. Tenant acknowledges that landlord agreed to enter into this lease with the original tenant after the exercise of landlord’s own judgment and expertise in determining that the original tenant was a suitable tenant for the project having regard to the size and nature of the project, landlords substantial investment in the project, and the business and personal characteristic of the original tenant. if a transfer is proposed, landlord will similarly be entitled to exercise its own judgment and expertise in determining whether the proposed transferee is suitable to landlord and for the project , with the understood option to revise any lease terms and conditions
                </li>
                <li>
                    In considering whether to grant or withhold its consent to any transfer it shall be deemed reasonable for landlord to take into    account and to base its decision upon satisfaction of the requirements and criteria provided for in section 16.a  and in law, and    upon:
                    <ol style="list-style:lower-roman;">
                        <li>	Whether the proposed transferee has agreed with Landlord in writing and on landlord’s form, to assume and perform each of the covenants, obligations and agreements of tenant in this lease, and the tenant portion. </li>
                        <li>	Whether such transfer will result in a replacement tenant who is suitable landlord on the basis of the proposed transferee’s business and personal characteristics, including its financial capability and its business history, experience, responsibility and standing and ability to operate the business required to be operated under this lease.</li>
                        <li>
                            Whether or not Landlord may wish to take back possession of premise.
                            The determination of whether the foregoing requirements and criteria have been satisfied for any proposed transfer shall be made by Landlord in accordance with this section 16, within a reasonable time, but not less than 30 days from receipt of tenant request and particulars.
                        </li>
                    </ol>
                </li>
                <li>
                    No transfer or other disposition by tenant of this lease or of any interest under this lease, shall release   tenant from the performance of any of its covenants under this lease and tenant shall continue to be bound by these lease. if this lease be disclaimed or terminated by any trustee in bankruptcy of any transferee of this lease, the original tenant named in this lease, upon notice from landlord given within 60 days of such disclaimer or termination shall enter  into a lease with landlord upon the same terms and conditions in contained herein except for the duration of the term, which shall expire on the date this lease would have expired save for such disclaimer or termination.
                </li>
                <li>
                    Prior landlord delivering any requested consent, Tenant shall pay to landlord a processing fee of AED 5,000/- (AED Five thousand only for each request.
                </li>
            </ol>
        </li>
    </ol>
</div>