@model LeaMaPortal.Models.MasterViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .sidebar-btn {
        background-color: #ffb100;
        border-color: black;
    }
    #master-loader {
        background: url("../Images/loader.gif") no-repeat scroll center center #FFF;
        position: absolute;
        height: 30%;
        width: 3%;
    }

    #master-loader-list {
        background: url("../Images/loader.gif") no-repeat scroll center center #FFF;
        width: 98%;
        height: 500px;
        /*position: absolute;*/
    }

    #master-loader-edit {
        background: url(../Images/loader.gif) no-repeat scroll center center #FFF;
        /* position: absolute; */
        height: 100px;
        width: 90%;
    }
</style>
<div id="master-loader" class="fa hide">
</div>
<div id="master-loader-edit" class="fa hide">
</div>
<div class="inner-block p-t-5-p">
    <div class="blank font-smaller">
        <div id="ContainerAddOrUpdate"></div>
        <div class="row" id="ContainerList"></div>
        <input type="hidden" id="FormMasterSelected" value="@ViewBag.FormMasterSelected" />
        <input type="hidden" id="IsAllowAdd" value="@ViewBag.IsAdd" />
    </div>
</div>
<!-- Modal -->
@*<div id="masterResultModal" class="modal fade" role="dialog">
        <div class="modal-dialog">


            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title result-title"></h4>
                </div>
                <div class="modal-body result-modal-body">
                    <span></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>*@
<script>
    IsAddAllow();
    function IsAddAllow() {
        var isAllow = $("#IsAllowAdd").val();
        if (isAllow == 1)
            $("#ContainerAddOrUpdate").show();
        else
            $("#ContainerAddOrUpdate").hide();
    }

    $(function () {
        $("#TopNavBarFilter").empty();
        GetCountryFilter();
    });

    $("#FormMasterId").change(function () {
        var type = parseInt($("#FormMasterId").val());
        formMaster(type);
    });
    function formMaster(type) {
        switch (type) {
            case 1:

                break;
            case 2:
                GetUserCreation();
                break;
            case 3:
                break;
            case 4:
                GetApprovalSettings();
                break;
            case 5:
                GetCountry();
                break;
            case 6:
                GetRegion();
                break;
            case 7:
                GetCaretaker();
                break;
            case 8:
                GetPropertyType();
                break;
            case 9:
                GetPropertyMaster();
                break;
            case 10:
                GetTenantCompany();
                break;
            case 11:
                GetTenantIndividual();
                break;
            case 12:
                GetCheckList();
                break;
            case 13:
                GetFacility();
                break;
            case 14:
                GetUtility();
                break;
            case 15:
                GetSupplier();
                break;
            case 16:
                GetSlab();
                break;
            case 17:
                GetMeter();
                break;
            case 18:
                GetEmailTemplate();
                break;
        }

    }
    function GetCountryFilter() {
        $("#TopNavBarFilter").empty();
        var FormMasterSelected = $("#FormMasterSelected").val();
        $.ajax(
       {
           url: "../Master/Filter",
           type: "Get",
           data: { selected: FormMasterSelected },

           success: function (html) {
               $("#TopNavBarFilter").html(html);
           },
           error: function (jqXhr, textStatus, errorThrown) {
               alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
           },
           complete: function () {
               //   $("#VerifyIdDetailsLoader").addClass("hide");
           }
       });
    }
    function GetCountry() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../Country/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Country/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetCountryAddOrUpdate() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../Country/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetTenantCompany() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../TenantCompany/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../TenantCompany/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetTenantCompanyAddOrUpdate() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../TenantCompany/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetTenantIndividual() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../MasterIndividual/Create",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerList").empty();
        $.ajax(
       {
           url: "../MasterIndividual/Index",
           type: "Get",
           data: {},
           contentType: "application/json",
           processData: false,
           success: function (html) {
               $("#ContainerList").html(html);
           },
           error: function (jqXhr, textStatus, errorThrown) {
               alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
           },
           complete: function () {
               //$("#img-loader").addClass("hide");
               $("#master-loader").addClass("hide");
           }
       });
    }
    function GetTenantIndividualAddOrUpdate() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../MasterIndividual/Create",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

    //function GetCaretaker() {
    //$("#img-loader").removeClass("hide");
    function CareTakerAddOrUpdate() {
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../Caretaker/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });

    }
    function GetCaretaker() {
        $("#ContainerList").empty();
        CareTakerAddOrUpdate();

        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Caretaker/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetRegion() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../Region/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Region/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetRegionAddOrUpdate() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../Region/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

    function getPropertyMasterAddorUpdate() {
        $.ajax(
       {
           url: "../PropertyMaster/AddOrUpdate",
           type: "Get",
           data: { Search: "" },
           success: function (html) {
               $("#ContainerAddOrUpdate").html(html);
           },
           error: function (jqXhr, textStatus, errorThrown) {
               alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
           },
           complete: function () {
               //$("#img-loader").addClass("hide");
               $("#master-loader").addClass("hide");
           }
       });
    }
    function GetPropertyMaster() {
        //$("#img-loader").removeClass("hide");
        // $("#master-loader").removeClass("hide");
        getPropertyMasterAddorUpdate();
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();

        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../PropertyMaster/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

    function CheckListAddOrUpdate() {
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();

        $.ajax(
        {
            url: "../CheckList/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });

    }
    function GetCheckList() {
        CheckListAddOrUpdate();
        $("#ContainerList").empty();
        //$("#img-loader").removeClass("hide");
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../CheckList/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

    function GetFacility() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../Facility/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Facility/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetFacilityAddOrUpdate() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../Facility/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

    function GetUtility() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../Utility/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Utility/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetUtilityAddOrUpdate() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../Utility/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetEmailTemplate() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../EmailTemplate/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../EmailTemplate/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function getUserCreationAddOrUpdate() {
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../UserCreation/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                // alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text(masterResultError);
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetUserCreation() {
        //$("#img-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        getUserCreationAddOrUpdate();
        $.ajax(
        {
            url: "../UserCreation/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                // alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text(masterResultError);
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

    function GetPropertyType() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../PropertyType/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../PropertyType/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

    function GetPropertyTypeAddOrUpdate() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../PropertyType/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function ApprovalAddOrUpdate() {
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();

        $.ajax(
        {
            url: "../ApprovalSettings/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetApprovalSettings() {
        ApprovalAddOrUpdate();
        $("#ContainerList").empty();
        //$("#img-loader").removeClass("hide");
        //$("#master-loader").removeClass("hide");
        //$("#ContainerAddOrUpdate").empty();
        //$("#ContainerList").empty();
        //$.ajax(
        //{
        //    url: "../ApprovalSettings/AddOrUpdate",
        //    type: "Get",
        //    data: {},
        //    contentType: "application/json",
        //    processData: false,
        //    success: function (html) {
        //        $("#ContainerAddOrUpdate").html(html);
        //    },
        //    error: function (jqXhr, textStatus, errorThrown) {
        //        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
        //    },
        //    complete: function () {
        //        //$("#img-loader").addClass("hide");
        //        $("#master-loader").addClass("hide");
        //    }
        //});
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../ApprovalSettings/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetMeter() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../Meter/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Meter/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetMeterAddOrUpdate() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../Meter/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetSlab() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../Slab/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Slab/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetSlabAddOrUpdate() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../Slab/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetSupplier() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../Supplier/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Supplier/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }
    function GetSupplierAddOrUpdate() {
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../Supplier/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    }

</script>
