@model LeaMaPortal.Models.MasterViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ContainerAddOrUpdate"></div>
<div id="ContainerList"></div>
<input type="hidden" id="FormMasterSelected" value="@ViewBag.FormMasterSelected" />
<script>
    $(function () {
        $("#TopNavBarFilter").empty();
        GetCountryFilter();
    });

    $("#FormMasterId").change(function () {
        var type = parseInt($("#FormMasterId").val());
        formMaster(type);
    });
    function formMaster(type) {
        switch (type) {
            case 1:

                break;
            case 2:
                break;
            case 3:
                break;
            case 4:
                break;
            case 5:
                GetCountry();
                break;
            case 7:
                GetCaretaker();
                break;
            case 9:
                GetPropertyMaster();
                break;
            case 6:
                GetRegion();
                break;
            case 10:
                GetTenantCompany();
                break;
            case 11:
                GetTenantIndividual();
                break;
            case 12:
                GetCheckList();
                break;
            case 13:
                GetFacility();
                break;
            case 14:
                GetUtility();
                break;
            case 18:
                GetEmailTemplate();
                break;
        }

    }
    function GetCountryFilter() {
        $("#TopNavBarFilter").empty();
        var FormMasterSelected = $("#FormMasterSelected").val();
        $.ajax(
       {
           url: "../Master/Filter",
           type: "Get",
           data: { selected: FormMasterSelected },
           
           success: function (html) {
               $("#TopNavBarFilter").html(html);
           },
           error: function (jqXhr, textStatus, errorThrown) {
               alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
           },
           complete: function () {
               //   $("#VerifyIdDetailsLoader").addClass("hide");
           }
       });
    }
    function GetCountry() {
        $("#img-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../Country/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Country/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function GetTenantCompany() {
        $("#img-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../TenantCompany/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../TenantCompany/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function GetTenantIndividual() {
        $("#img-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../MasterIndividual/Create",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
        $("#img-loader").removeClass("hide");
        $("#ContainerList").empty();
        $.ajax(
       {
           url: "../MasterIndividual/Index",
           type: "Get",
           data: {},
           contentType: "application/json",
           processData: false,
           success: function (html) {
               $("#ContainerList").html(html);
           },
           error: function (jqXhr, textStatus, errorThrown) {
               alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
           },
           complete: function () {
               $("#img-loader").addClass("hide");
           }
       });
    }

    function GetCaretaker() {

        $("#ContainerAddOrUpdate").empty();
        $("#ContainerList").empty();
        $.ajax(
        {
            url: "../Caretaker/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //   $("#VerifyIdDetailsLoader").addClass("hide");
            }
        });
        $.ajax(
        {
            url: "../Caretaker/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //   $("#VerifyIdDetailsLoader").addClass("hide");
            }
        });
    }

</script>
<!-- Region Section -->
<script>
    function GetRegion() {
        $("#img-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../Region/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Region/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }

    function GetPropertyMaster()
    {

        $("#ContainerAddOrUpdate").empty();
        //$.ajax(
        //{
        //    url: "../Country/AddOrUpdate",
        //    type: "Get",
        //    data: {},
        //    contentType: "application/json",
        //    processData: false,
        //    success: function (html) {
        //        $("#ContainerAddOrUpdate").html(html);
        //    },
        //    error: function (jqXhr, textStatus, errorThrown) {
        //        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
        //    },
        //    complete: function () {
        //        //   $("#VerifyIdDetailsLoader").addClass("hide");
        //    }
        //});
        $.ajax(
        {
            url: "../PropertyMaster/AddOrUpdate",
            type: "Get",
            data: { Search :""},
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //   $("#VerifyIdDetailsLoader").addClass("hide");
            }
        });
    }

    function GetCheckList() {
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../CheckList/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //   $("#VerifyIdDetailsLoader").addClass("hide");
            }
        });
        $.ajax(
        {
            url: "../CheckList/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //   $("#VerifyIdDetailsLoader").addClass("hide");
            }
        });
    }

    function GetFacility() {
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../Facility/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //   $("#VerifyIdDetailsLoader").addClass("hide");
            }
        });
        $.ajax(
        {
            url: "../Facility/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //   $("#VerifyIdDetailsLoader").addClass("hide");
            }
        });
    }

    function GetUtility() {
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../Utility/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //   $("#VerifyIdDetailsLoader").addClass("hide");
            }
        });
        $.ajax(
        {
            url: "../Utility/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //   $("#VerifyIdDetailsLoader").addClass("hide");
            }
        });
    }
    function GetEmailTemplate() {
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../EmailTemplate/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //   $("#VerifyIdDetailsLoader").addClass("hide");
            }
        });
        $.ajax(
        {
            url: "../EmailTemplate/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //   $("#VerifyIdDetailsLoader").addClass("hide");
            }
        });
    }

</script>