@model LeaMaPortal.Models.MasterViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="ContainerAddOrUpdate"></div>
<div id="ContainerList"></div>
<script>
     $(function () {
        $("#TopNavBarFilter").empty();
        GetCountryFilter();
     });
     
    $("#FormMasterId").change(function () {
        var type = parseInt($("#FormMasterId").val());
        formMaster(type);
    });
    function formMaster(type)
    {
        switch (type) {
            case 1:

                break;
            case 2:
                break;
            case 3:
                break;
            case 4:
                break;
            case 5:

                GetCountry();
                break;
        }

    }
    function GetCountryFilter()
    {
        $("#TopNavBarFilter").empty();
        $.ajax(
       {
           url: "../Master/Filter",
           type: "Get",
           data: {},
           processData: false,
           success: function (html) {
               $("#TopNavBarFilter").html(html);
           },
           error: function (jqXhr, textStatus, errorThrown) {
               alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
           },
           complete: function () {
               //   $("#VerifyIdDetailsLoader").addClass("hide");
           }
       });
    }
    function GetCountry()
    {
        $("#ContainerAddOrUpdate").empty();
        $.ajax(
        {
            url: "../Country/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //   $("#VerifyIdDetailsLoader").addClass("hide");
            }
        });
        $.ajax(
        {
            url: "../Country/Index",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) 
                {
                $("#ContainerList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
             //   $("#VerifyIdDetailsLoader").addClass("hide");
            }
        });
    }
</script>