<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="LeamaEntities" connectionString="metadata=res://*/DBContext.LeamaDBContext.csdl|res://*/DBContext.LeamaDBContext.ssdl|res://*/DBContext.LeamaDBContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=Admin@123;persistsecurityinfo=True;database=leama&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>