<!--
  File Name      : _Footer.cshtml
  Description    : Footer page
  Created Date   : 04-Mar-2017
  Notes          : <Notes>
-->


<div class="copyrights">
    <div class="col-md-6">
        <img src="~/Images/Logo.png">
    </div>
    <div class="copyrights-text pull-right">
        Hameem Investment Co
    </div>
</div>

<div class="copyrights-layer">
    &nbsp;
</div>
