<!--
  File Name      : _SideNavBar.cshtml
  Description    : Side bar navigation menu
  Created Date   : 03-Mar-2017
  Notes          : <Notes>
-->
<!-- Side bar -->
@{
    var user = LeaMaPortal.Helpers.AuthenticationHelper.GetLoggedinUserDetails(HttpContext.Current).GetAwaiter().GetResult();

}
<input type="hidden" id="hdnMenuConfig" value="@user.MenuConfig.To‌​String()" />
<div class="sidebar-menu">
    <div class="menu">
        <a href="~/Dashboard/Index">
            <div class="logo-thumb text-center">
                <img src="~/Images/Logo-thumb.png" />
            </div>
        </a>
        <ul id="menu">
            <li id="menu-home-notification" data-toggle="modal" data-target="#myModal">
                <div class="menu-home-notification-div">
                    <a href="#" class="notification-icon">
                        @*<i class="fa fa-bell"></i>*@
                        <span class="badge notification-badge" id="count"> 0 </span>
                        <img src="~/Images/alarm_32.png" /> <br />
                        <div class="p-t-17"> &nbsp; </div>
                    </a>
                </div>
            </li>
            @*<li id="menu-home-notification" data-toggle="modal" data-target="#myModal">
                <a href="#">
                    <i class="fa fa-bell" style="color:white;"></i> <br />
                    <div class="p-t-17">NOTIFICATION</div>
                </a>
            </li>*@
            <li id="menu-home-tca">
                <a href="~/Tca/Index">
                    <img src="~/Images/PropertyProf.png" /><br />
                    <div class="p-t-17">TCA</div>
                </a>
            </li>
            <li id="menu-home-invoice">
                <a href="~/Invoice/Index">
                    <img src="~/Images/invoice.png" /><br />
                    <div class="p-t-17">
                        INVOICE
                    </div>
                </a>
            </li>
            <li id="menu-home-payments">
                <a href="~/Payment/Index">
                    <img src="~/Images/Payments.png" /><br />
                    <div class="p-t-17">
                        PAYMENTS
                    </div>
                </a>
            </li>
            <li id="menu-home-receipts">
                <a href="~/Receipts/Index">
                    <img src="~/Images/Reciepts.png" /><br />
                    <div class="p-t-17">
                        RECEIPTS
                    </div>
                </a>
            </li>
            @*<li id="menu-home">
                    <a href="index.html">
                        <img src="~/Images/RenewContract.png" /><br />
                        <div class="p-t-17">RENEW CONTRACT</div>
                    </a>
                </li>
                <li id="menu-home">
                    <a href="index.html">
                        <img src="~/Images/CloseCont.png" /><br />
                        <div class="p-t-17">CLOSE CONTRACT</div>
                    </a>
                </li>*@
            <li id="menu-home-reporting">
                <a href="#">
                    <img src="~/Images/REPORTING.png" /><br />
                    <div class="p-t-17">REPORTING</div>
                </a>
            </li>
            <li id="menu-home-utility-billentry">
                <a href="~/EbWater/Index">
                    <img src="~/Images/Reciepts.png" /><br />
                    <div class="p-t-17" style="margin-left: -10px;">
                        UTILITY BILL ENTRY
                    </div>
                </a>
            </li>
            <li id="menu-home-utility-payments">
                <a href="~/UtilityPayment/Index">
                    <img src="~/Images/Reciepts.png" /><br />
                    <div class="p-t-17" style="margin-left: -10px;">
                        UTILITY PAYMENT
                    </div>
                </a>
            </li>
            <li id="menu-home">
                <a href="~/Master/Index" class="sidebar-btn">
                    MASTERS
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix"> </div>


<div id="myModal" class="modal modal-white" role="dialog">
    <div class="modal-dialog modal-lg" style="margin-left: 160px;width: auto;top: 60px;">
        <div class="notification-left-yellow-line">
            &nbsp;
        </div>
        <!-- Modal content-->
        <div class="modal-content notification-modal-content no-radius">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>*@
            <div class="modal-body" style="height: 328px;padding-left: 0px; padding-right: 5px;">
                <div class="notification-left-black-line">
                    &nbsp;
                </div>
                <div class="row" style="margin-left: 5px;">
                    <div class="col-md-2 notification-tab-1">
                        <div class="notification-text">
                            Notifications
                        </div>
                        <div class="notification-number">
                            <label id="count">0</label>
                        </div>
                        <div class="notification-down-arrow">
                            @*<i class="fa fa-chevron-down"></i>*@
                            <img src="~/Images/next_white_32.png" class="image-rotate-90" />
                        </div>
                    </div>
                    <div class="col-md-10 notification-filter-div">
                        <div class="p-b-25 notification-menu">
                            <span class="color-f5a623 notification-modal-filter">Filter notifications by</span>
                            <span class="notification-filter" onclick="getMenu()">All</span>
                            @*<span class="notification-filter-line"> &nbsp; </span>*@
                            <span class="notification-filter notify-menu active ">PDC Deposits</span>
                            @*<span class="notification-filter-line"> &nbsp; </span>*@
                            <span class="notification-filter notify-menu">Renewals</span>
                            @*<span class="notification-filter-line"> &nbsp; </span>*@
                            <span class="notification-filter notify-menu">Rental Due</span>
                            @*<span class="notification-filter-line"> &nbsp; </span>*@
                            <span class="notification-filter notify-menu">Utility Dues</span>
                            @*<span class="notification-filter-line"> &nbsp; </span>*@
                            @*<span class="notification-filter notify-menu">Agreement approval</span>*@
                            <span class="notification-filter notify-menu">TCA</span>
                            @*<span class="notification-filter-line"> &nbsp; </span>*@
                            <span class="notification-filter notify-menu">Contract Approval</span>
                            @*<span class="pull-right"> Expand to page </span>*@
                        </div>
                        <div class="notification-filter-content"></div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</div>
<div id="renewalModal" class="modal fade" role="dialog">
    <div class="modal-dialog tca-modal-md" id="renewalAddOrUpdateContainer" style="background-color: white;">

    </div>
</div>
<script>
    var allRecordCount = 0;
    $('.modal-white').on('show.bs.modal', function () {
        $('.menu-home-notification-div').css({ 'background-image': 'none', 'background-color': '#eb9a15' });
        setTimeout(function () {            
            $('.modal-backdrop').css('background', 'white');
            $('.modal-backdrop').css('opacity', 0);
        }, 10);
    });
    $('.modal-white').on('hide.bs.modal', function () {
        $('.menu-home-notification-div').css({ 'background-image': 'linear-gradient(297deg, #564593, #252243)' });
    });
    $(".notification-filter").click(function () {
        $(".notification-filter").removeClass('active');
        $(this).addClass('active');
        var filter = $(this).text();
        $(".notification-filter-content").empty();
        allRecordCount = 0;
        getData(filter);
    });
    $(".notification-filter-content").empty();
    getData("PDC Deposits");
    function getData(filter) {
        allRecordCount = 0;
        $.ajax(
                {
                    url: "../Notification/getNotifications",
                    type: "GET",
                    data: { filter: filter },
                    contentType: "application/json",
                    success: function (response) {
                        debugger;
                        var data = "";
                        allRecordCount = allRecordCount + response.length;
                        if (allRecordCount == "NaN")
                        {
                            allRecordCount = 0;
                        }
                        $("#count").text(allRecordCount);
                        var i = 1;
                        $.each(response, function (index, obj) {
                            data = "<div class='notification-msg-line'></div><div>";
                            debugger;
                            if (filter == "Renewals") {
                                data += '<span class="notification-vr-1"> ' + obj.region_name + ' </span>';
                                data += '<span class="notification-vr-2"> ' + obj.Properties_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Unit_Property_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Agreement_No + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.StartDate + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.EndDate + '</span>';
                            }
                            else if (filter == "PDC Deposits") {
                                data += '<span class="notification-vr-1"> ' + obj.Region_Name + ' </span>';
                                data += '<span class="notification-vr-2"> ' + obj.Property_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.unit_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Tenant_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Agreement_No + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.DDChequeNo + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.DDDate + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.pdc_Amount + '</span>';
                            }
                            else if (filter == "Rental Due") {
                                data += '<span class="notification-vr-1"> ' + obj.Region_Name + ' </span>';
                                data += '<span class="notification-vr-2"> ' + obj.Properties_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Ag_Tenant_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Agreement_No + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.payment_mode + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Cheque_No + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.ChequeDate + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Cheque_Amount + '</span>';
                            }
                            else if (filter == "Utility Dues") {
                                data += '<span class="notification-vr-1"> ' + obj.Region_Name + ' </span>';
                                data += '<span class="notification-vr-2"> ' + obj.Property_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Unit_Property_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Utility_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Meterno + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.billno + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.BDate + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Billamount + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.DDate + '</span>';
                            }
                            else if (filter == "TCA approval") {
                                data += '<span class="notification-vr-1"> ' + obj.Region_Name + ' </span>';
                                data += '<span class="notification-vr-2"> ' + obj.Properties_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Unit_Property_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Ag_Tenant_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Agreement_No + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Total_Rental_amount + '</span>';
                                data += '<span class="notification-vr-2"><button type="button" onclick="approveTca(' + obj.Agreement_No + ')" data-toggle = "modal" data-target = "#renewalModal">Approve</button></span>';
                            }
                            else if (filter == "Contract Approval") {
                                data += '<input type="hidden" id="contractId_'+i+'" value="' + obj.Id + '" />';
                                data += '<span class="notification-vr-1"> ' + obj.AgreementNo + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.TenantName + ' </span>';
                                data += '<span class="notification-vr-2"> ' + obj.PropertyName + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.UnitName + '</span>';                                
                                data += '<span class="notification-vr-2"><button type="button" onclick="approveContract('+i+')">Approve</button></span>';
                                data += '<span class="notification-vr-2"><button type="button">Reject</button></span>';
                                data += '<span class="notification-vr-2"><button type="button">View</button></span>';
                                i = i + 1;
                            }
                            data += '</div><hr class="notification-hr" />';
                            $(".notification-filter-content").append(data);
                        });
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    },
                    complete: function () {
                    }
                });
    }
    
    function getMenu() {
        $.ajax(
                {
                    url: "../Notification/getNotificationMenu",
                    type: "GET",
                    contentType: "application/json",
                    success: function (response) {
                        debugger;
                        var data = "";
                        $(".notification-filter-content").empty();
                        $.each(response, function (index, obj) {
                            getData(obj.Name);
                        });
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    },
                    complete: function () {
                    }
                });
    }
    function approveContract(pos) {
        debugger;
        var contractId = parseInt($("#contractId_" + pos).val());
        //$.ajax(
        //        {
        //            url: "../Notification/approveContract",
        //            type: "POST",
        //            data: { id : contractId },
        //            contentType: "application/json",
        //            success: function (response) {
        //                debugger;
        //                if (response) {
        //                    getData("Contract Approval");
        //                }
        //            },
        //            error: function (jqXhr, textStatus, errorThrown) {
        //                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
        //            },
        //            complete: function () {
        //            }
        //        });
        $.ajax(
                {
                    url: "../Notification/approveContract?id=" + contractId,
                    type: "GET",
                    contentType: "application/json",
                    success: function (response) {
                        debugger;
                        $(".notification-filter-content").empty();
                        getData("Contract Approval");
                        if (response.Errors == null) {
                            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-error");
                            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-success");
                            $(".result-title").text("Success");
                            $(".result-modal-body span").text(response.Message);
                        }
                        else {
                            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                            $(".result-title").text("Failure");
                            $(".result-modal-body span").text(response.Errors);
                        }
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text(masterResultError);
                    },
                    complete: function () {
                        $('#masterResultModal').modal('show');
                    }
                });
    }
    DisableMenus();
    GetMenuRights();
    function DisableMenus() {
        $("#menu-home-notification").hide();
        $("#menu-home-tca").hide();
        $("#menu-home-invoice").hide();
        $("#menu-home-payments").hide();
        $("#menu-home-receipts").hide();
        $("#menu-home-reporting").hide();
        $("#menu-home-master").hide();
        $("#menu-home-utility-billentry").hide();
        $("#menu-home-utility-payments").hide();
    }
    function GetMenuRights() {
        debugger;
        var user = $.cookie("CurrentUser");
        var currentUser = JSON.parse(user);
        menus = currentUser.MenuConfig.split(",");
        jQuery.each(menus, function (index, item) {
            debugger;
            //if (item == 2) {
            $("#menu-home-notification").show();
            // }
            if (item == 20) {
                $("#menu-home-tca").show();
            } if (item == 24) {
                $("#menu-home-invoice").show();
            } if (item == 26) {
                $("#menu-home-payments").show();
            } if (item == 25) {
                $("#menu-home-receipts").show();
            }
            //if (item == 2) {
            $("#menu-home-reporting").show();
            //}
            //if (item == 2) {
            $("#menu-home-master").show();
            //}
            if (item == 27) {
                $("#menu-home-utility-billentry").show();
            }
            if (item == 28) {
                $("#menu-home-utility-payments").show();
            }


        });
        // $.ajax(
        //{
        //    url: "../Dashboard/GetPDCNotification",
        //    type: "Get",
        //    contentType: "application/json",
        //    processData: false,
        //    success: function (response) {
        //        $("#PDCNotification").text(response);
        //    },
        //    error: function (jqXhr, textStatus, errorThrown) {
        //        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
        //    },
        //    complete: function () {
        //        //$("#img-loader").addClass("hide");
        //        $("#master-loader").addClass("hide");
        //    }
        //});
    }

    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) {
                    c_end = document.cookie.length;
                }
                return unescape(document.cookie.substring(c_start, c_end));
            }
        }
        return "";
    }
   

    function AgreementClosurePdc(AgreementNo) {
        debugger;
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementClosurePdc",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            // contentType: "application/json",
            // processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementPdcR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementPdc(AgreementNo) {
        debugger;
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementPdc",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            // contentType: "application/json",
            // processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementPdcR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementFacility(AgreementNo) {
        debugger;
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementFacility",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementFacilityR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementDocument(AgreementNo) {
        debugger;
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementDocument",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementDocumentR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementUtility(AgreementNo) {
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementUtility",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementUtilityR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementUnit(AgreementNo) {
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementUnit",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementUnitR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementCheckList(AgreementNo) {
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementCheckList",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementCheckListR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }

    

    function approveTca(Agreement_No) {
        var id = Agreement_No;
        $.ajax(
            {
                url: "../Tca/Approval",
                type: "Get",
                data: { AgreementNo: id },
                success: function (result) {
                    debugger;
                    //var data=jQuery.parseJSON(result);
                    if (result.Errors == undefined || result.Errors == "") {
                        $("#renewalAddOrUpdateContainer").empty();
                        $("#renewalAddOrUpdateContainer").html(result);
                        $("#renewalModal").modal('show');
                        //$("#CountryId").val(result.Id);
                        //$("#CountryName").val(result.Country);
                    }
                    else {
                        alert(data.Errors);
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {
                    var AgreementNo = id;
                    AgreementPdc(AgreementNo);
                    AgreementFacility(AgreementNo);
                    AgreementDocument(AgreementNo);
                    AgreementUtility(AgreementNo);
                    AgreementUnit(AgreementNo);
                    AgreementCheckList(AgreementNo);
                    $("body").scrollTop(0);
                }
            });

    }

   
</script>