<!--
  File Name      : _SideNavBar.cshtml
  Description    : Side bar navigation menu
  Created Date   : 03-Mar-2017
  Notes          : <Notes>
-->

<!-- Side bar -->

<div class="sidebar-menu">
    <div class="menu">
        <a href="~/Dashboard/Index">
            <div class="logo-thumb text-center">
                <img src="~/Images/Logo-thumb.png" />
            </div>
        </a>
        <ul id="menu">
            @*<li id="menu-home">
                <div class="header-right">
                    <a href="index.html">
                        <i class="fa fa-bell"></i>
                        <span class="badge">3</span>
                        @*<img src="~/Images/Notification.png" /> <br />
                        <div class="p-t-17"> &nbsp; </div>
                    </a>
                </div>
            </li>*@
            <li id="menu-home" data-toggle="modal" data-target="#myModal">
                <a href="#">
                    <i class="fa fa-bell" style="color:white;"></i> <br />
                    <div class="p-t-17">NOTIFICATION</div>
                </a>
            </li>
            <li id="menu-home">
                <a href="~/Tca/Index">
                    <img src="~/Images/PropertyProf.png" /><br />
                    <div class="p-t-17">TCA</div>
                </a>
            </li>
            <li id="menu-home">
                <a href="~/Invoice/Index">
                    <img src="~/Images/invoice.png" /><br />
                    <div class="p-t-17">
                      INVOICE
                    </div>
                </a>
            </li>            
            <li id="menu-home">
                <a href="~/Payment/Index">
                    <img src="~/Images/Payments.png" /><br />
                    <div class="p-t-17">
                        PAYMENTS
                    </div>
                </a>
            </li>
            <li id="menu-home">
                <a href="~/Receipts/Index">
                    <img src="~/Images/Reciepts.png" /><br />
                    <div class="p-t-17">
                        RECEIPTS
                    </div>
                </a>
            </li>
            @*<li id="menu-home">
                <a href="index.html">
                    <img src="~/Images/RenewContract.png" /><br />
                    <div class="p-t-17">RENEW CONTRACT</div>
                </a>
            </li>
            <li id="menu-home">
                <a href="index.html">
                    <img src="~/Images/CloseCont.png" /><br />
                    <div class="p-t-17">CLOSE CONTRACT</div>
                </a>
            </li>*@
            <li id="menu-home">
                <a href="~/Report/Index">
                    <img src="~/Images/REPORTING.png" /><br />
                    <div class="p-t-17">REPORTING</div>
                </a>
            </li>
            <li id="menu-home">
                <a href="~/UtilityBillEntry/Index">
                    <img src="~/Images/Reciepts.png" /><br />
                    <div class="p-t-17">
                        UTILITY BILL ENTRY
                    </div>
                </a>
            </li>
            <li id="menu-home">
                <a href="~/UtilityPayment/Index">
                    <img src="~/Images/Reciepts.png" /><br />
                    <div class="p-t-17">
                        UTILITY PAYMENT
                    </div>
                </a>
            </li>
            <li id="menu-home">
                <a href="~/Master/Index" class="sidebar-btn">
                    MASTERS
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix"> </div>


<div id="myModal" class="modal modal-white" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content notification-modal-content">
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>*@
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 notification-tab-1">
                        <div class="notification-text">
                            Notifications
                        </div>
                        <div class="notification-number">
                            <label id="count">0</label>
                        </div>
                        <div class="notification-down-arrow">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                    </div>
                    <div class="col-md-9 notification-filter-div">
                        <div class="p-b-25 notification-menu">
                            <span class="color-f5a623">Filter notifications by</span>
                            <span class="notification-filter" onclick="getMenu()">All</span>
                            <span class="notification-filter-line"> &nbsp; </span>
                            <span class="notification-filter notify-menu active ">PDC Deposits</span>
                            <span class="notification-filter-line"> &nbsp; </span>
                            <span class="notification-filter notify-menu">Renewals</span>
                            <span class="notification-filter-line"> &nbsp; </span>
                            <span class="notification-filter notify-menu">Rental Due</span>
                            <span class="notification-filter-line"> &nbsp; </span>
                            <span class="notification-filter notify-menu">Utility Dues</span>
                            <span class="notification-filter-line"> &nbsp; </span>
                            <span class="notification-filter notify-menu">Agreement approval</span>
                            <span class="pull-right"> Expand to page </span>
                        </div>
                        <div class="notification-filter-content"></div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>

    </div>
</div>

<script>
    $('.modal-white').on('show.bs.modal', function () {
        setTimeout(function () {
            $('.modal-backdrop').css('background', 'white');
            $('.modal-backdrop').css('opacity', 0);
        }, 10);
    });
    $(".notification-filter").click(function () {
        $(".notification-filter").removeClass('active');
        $(this).addClass('active');
        var filter = $(this).text();
        $(".notification-filter-content").empty();
        allRecordCount = 0;
        getData(filter);
    });
    $(".notification-filter-content").empty();    
    getData("PDC Deposits");
    function getData(filter)
    {
        $.ajax(
                {
                    url: "../Notification/getNotifications",
                    type: "GET",
                    data: { filter: filter },
                    contentType: "application/json",
                    success: function (response) {
                        debugger;
                        var data = "";
                        allRecordCount = allRecordCount + (response ? response.length : 0);
                        $("#count").text(allRecordCount);
                        $.each(response, function (index, obj) {
                            data = "<div>";
                            debugger;
                            if (filter == "Renewals") {
                                data += '<span class="notification-vr-1"> ' + obj.region_name + ' </span>';
                                data += '<span class="notification-vr-2"> ' + obj.Properties_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Unit_Property_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Agreement_No + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.StartDate + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.EndDate + '</span>';
                            }
                            else if (filter == "PDC Deposits") {
                                data += '<span class="notification-vr-1"> ' + obj.Region_Name + ' </span>';
                                data += '<span class="notification-vr-2"> ' + obj.Property_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.unit_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Tenant_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Agreement_No + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.DDChequeNo + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.DDDate + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.pdc_Amount + '</span>';
                            }
                            else if (filter == "Rental Due") {
                                data += '<span class="notification-vr-1"> ' + obj.Region_Name + ' </span>';
                                data += '<span class="notification-vr-2"> ' + obj.Properties_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Ag_Tenant_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Agreement_No + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.payment_mode + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Cheque_No + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.ChequeDate + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Cheque_Amount + '</span>';
                            }
                            else if (filter == "Utility Dues") {
                                data += '<span class="notification-vr-1"> ' + obj.Region_Name + ' </span>';
                                data += '<span class="notification-vr-2"> ' + obj.Property_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Unit_Property_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Utility_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Meterno + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.billno + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.BDate + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Billamount + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.DDate + '</span>';
                            }
                            else if (filter == "Agreement approval") {
                                data += '<span class="notification-vr-1"> ' + obj.Region_Name + ' </span>';
                                data += '<span class="notification-vr-2"> ' + obj.Properties_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Unit_Property_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Ag_Tenant_Name + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Agreement_No + '</span>';
                                data += '<span class="notification-vr-2"> ' + obj.Total_Rental_amount + '</span>';
                            }
                            data += '</div><hr class="notification-hr" />';
                            $(".notification-filter-content").append(data);
                        });

                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    },
                    complete: function () {
                    }
                });
    }
    var allRecordCount = 0;
    function getMenu() {
        $.ajax(
                {
                    url: "../Notification/getNotificationMenu",
                    type: "GET",
                    contentType: "application/json",
                    success: function (response) {
                        debugger;
                        var data = "";
                        $(".notification-filter-content").empty();
                        $.each(response, function (index, obj) {
                            getData(obj.Name);
                        });
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    },
                    complete: function () {
                    }
                });
    }
</script>