<!--
  File Name      : _SubHeaderMenu.cshtml
  Description    : Sub header for pages
  Created Date   : 12-Mar-2017
  Notes          : <Notes>
-->


<div class="sub-header-main">
    @*<div class="col-md-7 pull-left p-35">
        <span> <i class="fa fa-filter"></i> FILTER PERFORMANCE BY :  </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span> By Month <i class="fa fa-calendar"></i> </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span> By Region <i class="fa fa-angle-down"></i> </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span> By Property <i class="fa fa-angle-down"></i> </span>
        <div class="clearfix"> </div>
    </div>*@
    <div class="col-md-5 pull-left p-35">
        <select class="master-form-input subheader-select">
            <option> Tenant Master - For Individual </option>
            <option> Tenant Master - For Master1 </option>
            <option> Tenant Master - For Master2 </option>
            <option> Tenant Master - For Master3 </option>
            <option> Tenant Master - For Master4 </option>
            <option> Tenant Master - For Master5 </option>
        </select>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-5 pull-right">
        <div class="profile_details subheader-profile">
            <div class="user-name">
                <p style="color:#9fa9ba;">Logged in as:</p>
            </div>
            <div class="user-name">
                <p style="color:#1a91eb;">Malorum</p>
                <span style="color:#7f8fa4;">Caretaker</span>
                <i class="fa fa-angle-down"></i>
            </div>

        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>