<!--
  File Name      : _UtilityDetails.cshtml
  Description    : Partial page for utility details
  Created Date   : 20-Mar-2017
  Notes          : <Notes>
-->



    <div class="row" id="UtilityForm">
        <div class="col-md-12 document-row" id="GridView">
            <div class="col-md-1">
                1.
            </div>
            <div class="col-md-3">
                <input type="text" class="master-form-input" id="UtilityId" />
            </div>
            <div class="col-md-4">
                <input type="text" class="master-form-input" id="UtilityName" />
            </div>
            <div class="col-md-2">
                <button class="document-btn" onclick="Add()">Add</button>
            </div>
            <div class="col-md-2">
                <button class="document-btn">Delete</button>
            </div>
        </div>
    </div>
    <div class="row ht-5">
        &nbsp;
    </div>
 
<script>
    var count = 1;
    function Add() {
       
        var UtilityId = document.getElementById("UtilityId").value;
        var UtilityName = document.getElementById("UtilityName").value;
     
        var html = "<div class='col-md-12 document-row' id='GridView"+count+"'>";
        html=html+"<div class='col-md-1'>";
        html = html + count;
        html=html+" </div>";
        html = html + " <div class='col-md-3'> <input id='UtilityId" +count+"'  type='text' value='" +UtilityId+ "' class='master-form-input' /></div>";
        html = html + "<div class='col-md-4'> <input id='UtilityId" +count+ "' type='text'  value='" +UtilityName+ "' class='master-form-input' /></div>";
      //  html=html+ "<div class='col-md-2'><button class='document-btn'>Add</button> </div>";
        html = html + "<div class='col-md-2'>  <button class='document-btn' id='Delete"+count+"' onclick='Delete(this)'>Delete</button></div>";
        html=html+"</div>";
        $('#UtilityForm').append(html);

        document.getElementById("UtilityId").value="";
       document.getElementById("UtilityName").value="";
       count = count + 1;

    }
    function Delete(e) {
        DeleteRow = e.parentNode.parentNode.id;
        $('#' + DeleteRow).remove();
    }
</script>
